<div class="warning-card">
  <div *ngIf="donor && allDonorMessagesCount" class="warning-card-col">
    <div class="warning-card-content">
      <mat-icon [inline]="true">person</mat-icon>
      <h2>Donor</h2>
    </div>
    <div class="warning-card-content">
      <ng-container *ngIf="donor.allMessages">
        <app-warning-pill
          *ngFor="let data of donor.allMessages | keyvalue"
          [count]="data.value.length"
          [warningType]="data.key"
          [allWarningsConfirmed]="donorHasConfirmedWarnings"
        ></app-warning-pill>
      </ng-container>
    </div>
  </div>
  <div *ngIf="recipient && allRecipientMessagesCount" class="warning-card-col">
    <div class="warning-card-content">
      <mat-icon [inline]="true">person</mat-icon>
      <h2>Recipient</h2>
    </div>
    <div class="warning-card-content">
      <ng-container *ngIf="recipient.allMessages">
        <app-warning-pill
          *ngFor="let data of recipient.allMessages | keyvalue"
          [count]="data.value.length"
          [warningType]="data.key"
          [allWarningsConfirmed]="recipientHasConfirmedWarnings"
        ></app-warning-pill>
      </ng-container>
    </div>
  </div>
</div>
