<div class="warning-card">
  <div *ngIf="donor && allDonorMessagesCount" class="warning-card-col">
    <div class="warning-card-content">
      <mat-icon [inline]="true">person</mat-icon>
      <h2>Donor</h2>
    </div>
    <div class="warning-card-content">
      <ng-container *ngFor="let item of donor.all_messages | keyvalue">
        <app-warning-pill *ngIf="item.value.length" [count]="item.value.length" [warningType]="item.key"></app-warning-pill>
      </ng-container>
    </div>
  </div>
  <div *ngIf="recipient && allRecipientMessagesCount" class="warning-card-col">
    <div class="warning-card-content">
      <mat-icon [inline]="true">person</mat-icon>
      <h2>Recipient</h2>
    </div>
    <div class="warning-card-content">
      <ng-container *ngFor="let item of recipient.all_messages | keyvalue">
        <app-warning-pill *ngIf="item.value.length" [count]="item.value.length" [warningType]="item.key"></app-warning-pill>
      </ng-container>
    </div>
  </div>
</div>
