<div class="warning-card">
  <div *ngIf="donor && allDonorMessagesCount" class="warning-card-col">
    <div class="warning-card-content">
      <mat-icon [inline]="true">person</mat-icon>
      <h2>Donor</h2>
    </div>
    <div class="warning-card-content">
      <ng-container *ngIf="donor.all_messages">
        <app-warning-pill *ngIf="donor.all_messages.errors" [count]="donor.all_messages.errors.length" warningType="errors"></app-warning-pill>
        <app-warning-pill *ngIf="donor.all_messages.warnings" [count]="donor.all_messages.warnings.length" warningType="warnings"></app-warning-pill>
        <app-warning-pill *ngIf="donor.all_messages.infos" [count]="donor.all_messages.infos.length" warningType="infos"></app-warning-pill>
      </ng-container>
    </div>
  </div>
  <div *ngIf="recipient && allRecipientMessagesCount" class="warning-card-col">
    <div class="warning-card-content">
      <mat-icon [inline]="true">person</mat-icon>
      <h2>Recipient</h2>
    </div>
    <div class="warning-card-content">
      <ng-container *ngIf="recipient.all_messages">
        <app-warning-pill *ngIf="recipient.all_messages.errors" [count]="recipient.all_messages.errors.length" warningType="errors"></app-warning-pill>
        <app-warning-pill *ngIf="recipient.all_messages.warnings" [count]="recipient.all_messages.warnings.length" warningType="warnings"></app-warning-pill>
        <app-warning-pill *ngIf="recipient.all_messages.infos" [count]="recipient.all_messages.infos.length" warningType="infos"></app-warning-pill>
      </ng-container>
    </div>
  </div>
</div>
