<style>
    /* Matching */
    .matching-header {
        page-break-inside: avoid !important;
    }

    .matching-info {
        width: 100%;
        display: flex;

        /* wkhtmltopdf */
        display: -webkit-box;
    }

    .matching-info li * {
        vertical-align: top;
    }

    .matching-info li:last-child {
        -webkit-box-flex: 1;
    }

    .matching-info li:not(:last-child) {
        padding-right: 5px;
    }

    .matching-info li:not(:last-child)::after {
        content: '|';
        margin: 0 5px 0 10px;
        color: #454545;
    }

    /* Matching round */
    .matching-round {
        margin-bottom: 20px;
    }

    /* Matching transplant */
    .matching-transplant {
        border-top: none;
        padding-top: 10px;
    }

    .matching-transplant, .matching-transplant > * {
        page-break-inside: avoid !important;
    }

    .matching-transplant h3 {
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* wkhtmltopdf */
        display: -webkit-box;
        -webkit-box-pack: justify;
        -webkit-box-align: center;
    }

    .matching-transplant h3 div {
        white-space: nowrap;
    }

    .donor-type-label {
        font-size: 13px;
    }

    /* Matching summary */
    .matching-summary {
        padding-top: 7px; /* new page */
    }

    .matching-summary, .matching-summary > * {
        page-break-inside: avoid !important;
    }

    .matching-summary.selected {
        border-bottom: 1px solid gray;
        padding-bottom: 15px;
    }

    table.matching-summary-table {
        border-collapse: collapse;
    }

    table.matching-summary-table tr {
        border-top: 1px solid #dddddd;
    }

    table.matching-summary-table tr:first-child {
        border-top: none;
    }

    table.matching-summary-table td {
        vertical-align: top;
    }

    .matching-summary-round-title {
        font-weight: 700;
        margin: 4px;
    }

    .patient-pair {
        border-radius: 3px;
        padding: 2px 5px;
        margin: 3px 2px;
        display: inline-block;

        /* fix wkhtmltopdf artefacts */
        border: 1px solid #e9ecef;
    }

    .patient-pair-content {
        display: flex;
        justify-content: center;
        align-items: center;

        /* wkhtmltopdf */
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
    }

    .patient-pair-content .icon-right {
        margin: 0 7px;
        font-weight: 800;
    }

    .patient-pair-content .flag {
        border: 1px solid #666;
    }

    .patient-pair-content .warning-icon {
        font-weight: bold;
        background-color: #dc3545;
        width: 21px;
        height: 21px;
        text-align: center;
        border-radius: 50%;
        color: white;
        margin-right: 7px;
    }

    li > .flag {
        top: -1px;
    }
</style>
