// basic code
$code-bg--basic: #e6e6e6;
$code-border-color--basic: plum;
$code-color--basic: rebeccapurple;

// matching code
$code-bg--matching: rgba(green, 0.2);
$code-border-color--matching: green;
$code-color--matching: green;

// antibody code
$code-bg--antibody: aliceblue;
$code-border-color--antibody: lightskyblue;
$code-color--antibody: darkblue;
