@import "definitions/colors";

// CONTAINER
$container-max-width: 1200px;

// BORDER
$border-color: $brand-grey-dark;
$border-radius: 6px;
$border-radius--wide: 40px;

// BOX SHADOW
$box-shadow-color: rgba($black, .1);
$box-shadow-size: 3.2px 7.2px;
$box-shadow--wide-size: 40px;
$box-shadow: 0 3.2px 7.2px 0 $box-shadow-color;
$box-shadow--wide: 0 0 $box-shadow--wide-size 0 $box-shadow-color;

// FONT
$font-family: 'Open Sans', sans-serif;
$font-size: 16px;
$font-weight: 300;
$font-weight-bold: 600;

// BODY
$body-color: $black;
$body-color--secondary: $gray-500;
$body-bg: $gray-100;

// SPACING
$padding-x: 30px;
$padding-y: 30px;
$item-gap: calc(#{$box-shadow--wide-size} / 2);

// FORM
$input-border-radius: calc(#{$border-radius--wide} / 3);
