@import "../../../styles/variables";

.error-and-info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;

  border-radius: 2.5rem;
  filter: drop-shadow(0 0.2rem 0.45rem rgba(0, 0, 0, 0.1));
  padding: 1.5rem 1.875rem;
  margin: 1rem 0;

  div {
    display: flex;
    justify-content: center;

    p {
      height: 100%;
    }
  }

  &-heading {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    height: 100%;
    font-size: 2rem;

    p {
      margin: 0;
      font-weight: 600;
    }

    h2 {
      text-transform: capitalize;
      margin: 0;
      font-size: 1.2rem;
    }
  }

  &-body {
    flex-direction: column;
    align-items: start;

    p {
      margin: 0.3rem 0;
    }
  }
}

.error {
  background-color: $error-bg;
  color: $error-text;

  mat-icon {
    color: $error-icon;
  }
}

.info {
  background-color: $info-bg;
  color: $info-text;

  mat-icon {
    color: $info-icon;
  }
}
