@import "../../../styles/variables";

.antibody-chip {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .mfi {
    margin-left: 15px;

    background: $gray-600;
    color: $white;
    border-radius: 6px;
    padding: 2px 5px;
    font-size: 12px;
  }
}
