<ng-container *ngIf="recipient">
  <ng-container *ngIf="showCountryAndMedicalId">
    <!-- Recipient Country -->
    <app-country-setting [patient]="recipient"></app-country-setting>

    <!-- Recipient medical ID -->
    <app-medical-id [patient]="recipient"></app-medical-id>
  </ng-container>

  <!-- Recipient Blood Group -->
  <app-blood-group [patient]="recipient"></app-blood-group>

  <!-- Recipient Acceptable blood groups -->
  <app-setting-item label="Acceptable blood group">
    <mat-button-toggle-group [(ngModel)]="recipient.acceptableBloodGroups"
                             [multiple]="true"
                             [ngModelOptions]="{standalone: true}">
      <mat-button-toggle *ngFor="let bg of allBloodGroups"
                         [checked]="recipient.acceptableBloodGroups.includes(bg)"
                         [value]="bg">
        {{ bg }}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </app-setting-item>

  <!-- Recipient antigens -->
  <app-antigens [patient]="recipient"></app-antigens>

  <!-- Recipient antibodies -->
  <app-setting-item label="Antibodies">
    <mat-form-field class="multiline-hint">
      <mat-chip-list>
        <mat-chip *ngFor="let a of recipient.antibodies"
                  (removed)="recipient.removeAntibody(a)">
          <div class="antibody-chip">
            {{a.rawCode}}
            <div class="mfi">MFI: <strong>{{a.mfi}}</strong></div>
          </div>
          <mat-icon class="cancel" matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input disabled matInput>
      </mat-chip-list>
      <mat-hint>
        Use the form below for adding recipient's antibodies. Please specify the antibodies in broad,
        split or high resolution. If the antibodies are specified in high resolution, please provide
        also negative samples where MFI < Antibodies cutoff. This information is required in matchings
        computation algorithm. If the antibodies are specified in broad or split resolution,
        negative samples are not required and will be ignored in the computation algorithm if provided.
      </mat-hint>
    </mat-form-field>
  </app-setting-item>

  <app-recipient-antibodies [recipient]="recipient"></app-recipient-antibodies>

  <!-- Recipient antibodies cutoff -->
  <app-simple-number #antibodiesCutoff="ngModel" (input)="formatNumber(antibodiesCutoff)"
                     label="Antibodies cutoff"
                     [value]="recipient.antibodiesCutoff" [(ngModel)]="recipient.antibodiesCutoff"
                     name="antibodiesCutoff" ngDefaultControl></app-simple-number>

  <!-- Recipient Sex -->
  <app-sex [patient]="recipient"></app-sex>

  <!-- Recipient height -->
  <app-simple-number #height="ngModel" (input)="formatNumber(height)"
                     label="Height [cm]"
                     [value]="recipient.height" [(ngModel)]="recipient.height"
                     name="height" ngDefaultControl></app-simple-number>

  <!-- Recipient weight -->
  <app-simple-number #weight="ngModel" (input)="formatNumber(weight)"
                     label="Weight [kg]"
                     [value]="recipient.weight" [(ngModel)]="recipient.weight"
                     name="weight" ngDefaultControl></app-simple-number>

  <!-- Recipient year of birth -->
  <app-simple-number #yearOfBirth="ngModel" (input)="formatYearOfBirth(yearOfBirth)"
                     label="Year of birth"
                     [value]="recipient.yearOfBirth" [(ngModel)]="recipient.yearOfBirth"
                     name="yearOfBirth" ngDefaultControl></app-simple-number>

  <!-- Recipient note -->
  <app-setting-item label="Note">
    <mat-form-field>
      <textarea matInput [(ngModel)]="recipient.note"></textarea>
    </mat-form-field>
  </app-setting-item>

  <!-- Recipient waiting since date -->
  <app-setting-item label="Waiting since">
    <mat-form-field>
      <input matInput [matDatepicker]="picker" [(ngModel)]="recipient.waitingSince" [ngModelOptions]="{standalone: true}">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </app-setting-item>

  <!-- Recipient previous transplants -->
  <app-simple-number #previousTransplants="ngModel" (input)="formatNumber(previousTransplants, 0)"
                     label="Previous transplants count"
                     [value]="recipient.previousTransplants" [(ngModel)]="recipient.previousTransplants"
                     name="previousTransplants" ngDefaultControl></app-simple-number>

  <!-- Matching conditions -->
  <ng-container *ngIf="showMatchingConditions">
    <h4>Matching conditions</h4>
    <div class="checkboxes">
      <mat-slide-toggle [(ngModel)]="recipient.recipientRequirements.requireCompatibleBloodGroup">
        Require compatible blood group
      </mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="recipient.recipientRequirements.requireBetterMatchInCompatibilityIndex">
        Require new donor having better CI match than original donor
      </mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="recipient.recipientRequirements.requireBetterMatchInCompatibilityIndexOrBloodGroup">
        Require new donor having better CI match than original donor or blood group match
      </mat-slide-toggle>
    </div>
  </ng-container>
</ng-container>
