<div *ngIf="item && patients" class="matching-detail">

  <div *ngFor="let round of item.rounds; let i = index" class="round">
    <h3>Round #{{ i }} <span>{{ getDonorTypeLabel(round.donorType) }}</span></h3>

    <div *ngFor="let transplant of round.transplants"
         id="transplant-{{transplant.index}}"
         class="transplant-holder">
      <app-matching-transplant [patients]="patients"
                               [transplant]="transplant"
                               [configuration]="configuration"></app-matching-transplant>
    </div>
  </div>
</div>
