@import "../../../styles/variables";

.matching-detail {
  padding: $padding-y $padding-x calc(#{$padding-y * 2});

  .round {
    padding-bottom: calc(#{$padding-y * 2});
    margin: 5px;

    &:not(:first-child) {
      border-top: 4px solid rgba($body-color--secondary, 0.3);
    }

    h3 {
      margin: 0 0 $padding-y;
      color: $body-color--secondary;
      display: flex;
      justify-content: space-between;
      align-items: center;

      span {
        font-size: 14px;
        font-weight: 300;
        font-family: monospace;
        color: rgba($body-color--secondary, 0.8);
      }
    }
  }

  .transplant-holder {
    padding-top: $padding-y;
  }

  &-warnings {
    padding: 0.1rem 1rem 4rem;
    margin: 0 auto -4rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    border-radius: 2.5rem 2.5rem 0 0;
    max-width: 960px;
  }
}
