@import "../../../styles/variables";

.matching-detail {
  padding: $padding-y $padding-x;

  .round {
    padding-bottom: $item-gap;

    h4 {
      text-transform: uppercase;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }
  }
}
