<div *ngIf="item && patients" class="matching-detail">

  <div *ngFor="let round of item.rounds; let i = index" class="round">
    <h3>Round #{{ i + 1 }} <span>{{ round.donorType | donorTypeLabel }}</span></h3>

    <div *ngFor="let transplant of round.transplants"
         id="transplant-{{transplant.index}}"
         class="transplant-holder">
      <div class="matching-detail-warnings">
        <app-warning [data]="testData" warningType="warnings"></app-warning>
      </div>
      <app-matching-transplant [donor]="transplant.d"
                               [recipient]="transplant.r"
                               [score]="transplant.score"
                               [maxScore]="transplant.maxScore"
                               [isBloodCompatible]="transplant.compatibleBlood"
                               [hasCrossmatch]="transplant.hasCrossmatch"
                               [detailedScorePerGroup]="transplant.detailedScorePerGroup"
                               [configuration]="configuration"></app-matching-transplant>
    </div>
  </div>
</div>
