html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #ffffff;
  color: #000000;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
body * {
  box-sizing: border-box;
}

header {
  display: flex;
  height: 70px;
  padding: 10px 50px;
}
@media (max-width: 540px) {
  header {
    height: auto;
    flex-direction: column;
  }
}
header .logo {
  width: 80px;
  height: 100%;
}
header .logo img {
  height: 100%;
}
@media (max-width: 540px) {
  header .logo {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
  }
  header .logo a {
    width: 100%;
    text-align: center;
  }
}
header .info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 12px;
  line-height: 1.75;
}
header .info a {
  font-weight: 700;
  color: #000000;
  border-bottom: 1px solid #000000;
  text-decoration: none;
  transition: all 0.2s ease;
}
header .info a:hover, header .info a:active, header .info a:focus {
  color: #e2001a;
  border-bottom-color: transparent;
}
header .info .contact {
  color: #666666;
}
@media (max-width: 540px) {
  header .info {
    align-items: center;
    text-align: center;
  }
}

a {
  text-decoration: none;
  color: #000000;
}
a:hover {
  text-decoration: none;
}

form input, form textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 15px;
}
form input[type=submit] {
  background-color: #e2001a;
  border: none;
  box-shadow: none;
  border-radius: 6px;
  color: #ffffff;
  padding: 10px;
  font-size: inherit;
  font-weight: 600;
}
form input[type=submit]:hover {
  cursor: pointer;
  background-color: #a80018;
}

h1 {
  margin: 0 0 35px;
  position: relative;
}
h1::after {
  content: "";
  height: 3px;
  width: 60px;
  background: #ddd;
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
}

.content {
  display: flex;
  position: relative;
  flex-grow: 1;
}
@media (max-width: 1200px) {
  .content {
    flex-direction: column;
  }
}

.configuration {
  padding: 50px;
  background: #eee;
}
.configuration__boxes {
  display: flex;
  width: 100%;
}
@media (max-width: 1200px) {
  .configuration__boxes {
    flex-direction: column;
  }
}
.configuration__boxes > div {
  display: flex;
}
@media (max-width: 540px) {
  .configuration__boxes > div {
    flex-direction: column;
  }
}
.configuration__box {
  border: 1px solid #eee;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  flex-grow: 1;
  padding: 20px;
}
@media (max-width: 1200px) {
  .configuration .checkboxes {
    margin-right: 10px;
  }
}
@media (max-width: 540px) {
  .configuration .checkboxes {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.configuration .inputs {
  margin: 0 10px;
}
@media (max-width: 1200px) {
  .configuration .inputs {
    margin: 0;
  }
}
.configuration .manual {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .configuration .manual {
    margin-top: 10px;
  }
}
.configuration form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.configuration form input[type=submit] {
  margin-top: 30px;
}

.round {
  border-bottom: 1px solid #ddd;
  display: flex;
  padding: 5px 0;
}
.round span {
  font-weight: 700;
  color: #666666;
  margin-right: 15px;
  display: inline-block;
}
.round > div {
  flex-grow: 1;
}
.round .chain_link {
  display: inline-block;
  padding: 8px 10px 5px;
  background-color: #666666;
  color: #ffffff;
  border-radius: 6px;
  margin: 2px 0;
  transition: all 0.2s ease;
  font-weight: 400;
}
.round .chain_link.light {
  background-color: #ddd;
  color: #000000;
}
.round .chain_link:not(:last-child) {
  margin-right: 5px;
}

.transplant {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  overflow: hidden;
}
.transplant:not(:last-child) {
  margin-bottom: 20px;
}
.transplant-header {
  background: #f5f5f5;
  padding: 10px 15px;
  display: flex;
}
.transplant-header .pair {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.transplant-header .pair img {
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
}
.transplant-header .pair .arrow-right {
  margin: 0 10px;
}
.transplant-header .score span {
  font-size: 22px;
  font-weight: 700;
  color: #e2001a;
}
.transplant-content {
  flex-grow: 1;
  padding: 30px;
}

.transplant .small {
  font-size: 12px !important;
  margin-top: 5px;
}
.transplant table {
  width: 100%;
  max-width: 900px;
  margin: auto;
  border-collapse: collapse;
}
.transplant tr {
  border-top: 1px solid #ddd;
}
.transplant tr:first-child {
  font-weight: 700;
  border-top: none;
}
.transplant tr.anti-header td {
  background: #f9f9f9;
  font-size: 12px;
  padding: 2px;
}
.transplant td {
  text-align: center;
  padding: 5px;
  border-right: 1px solid #ddd;
}
.transplant td:not([colspan]) {
  width: 21.6666%;
}
.transplant td:first-child {
  width: 20%;
  text-align: left;
  font-weight: 700;
}
.transplant td:last-child {
  width: 15%;
  background: #f9f9f9;
  border-right: none;
}
.transplant .footer-score td {
  text-align: right;
  background: #ffffff !important;
  border: none !important;
}
.transplant .footer-score span {
  font-size: 24px;
  font-weight: 700;
  color: #e2001a;
}

.arrow-right {
  display: block;
  border-color: transparent #e2001a;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  height: 0;
  width: 0;
  margin: 0 5px;
}

.inline_code {
  border-radius: 3px;
  border: 1px solid plum;
  background: #e6e6e6;
  padding-left: 3px;
  padding-right: 3px;
  color: rebeccapurple;
  margin: 1px;
  display: inline-block;
}
.inline_code_blue {
  border-radius: 3px;
  border: 1px solid lightskyblue;
  background: aliceblue;
  padding-left: 3px;
  padding-right: 3px;
  color: darkblue;
  margin: 1px;
  display: inline-block;
}

.header-boxing {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.main-boxing {
  display: grid;
  grid-template-columns: 1fr 50px 2fr;
  height: 100%;
}

.patient-detail {
  margin: 20px;
}

.matching-list-boxing {
  width: 100%;
  margin-left: 50px;
}

.patient_box {
  background: whitesmoke;
  border-radius: 20px;
  padding: 30px;
  min-width: 38rem;
  height: 100%;
  vertical-align: top;
}

.matching {
  padding: 50px;
  background: #f5f5f5;
  width: 40%;
  max-width: 900px;
}
@media (max-width: 1200px) {
  .matching {
    width: 100%;
    max-width: 100%;
  }
  .matching-list {
    height: 600px;
    overflow: scroll;
  }
}
.matching-item {
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
  overflow: hidden;
  border: 1px solid #eee;
  display: flex;
}
.matching-item:not(:last-child) {
  margin-bottom: 20px;
}
.matching-item.active, .matching-item:hover {
  border: 1px solid #e2001a;
}
.matching-item.active .matching-item__link, .matching-item:hover .matching-item__link {
  background: #e2001a;
  color: #ffffff;
}
.matching-item.active {
  background: rgba(226, 0, 26, 0.05);
}
.matching-item__content {
  padding: 20px;
  flex-grow: 1;
  width: 100%;
}
.matching-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  background: #eee;
}
.matching-item__link:hover {
  background: #ddd;
}
.matching .description {
  font-size: 14px;
  color: #666666;
  margin-bottom: 20px;
}

.matching_box {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px 20px 3px;
}
.matching_box .chain_link {
  border-radius: 5px;
  margin-left: 10px;
  padding: 8px 10px 5px;
  color: black;
  text-decoration: none;
  background: slategray;
}
.matching_box_expand {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  display: block;
  padding-top: 20px;
  vertical-align: middle;
  background: silver;
}
.matching_box_expand:hover {
  background: gray;
  color: whitesmoke;
}
.matching-blood-group {
  border: 1px solid green;
  background: darkseagreen;
}
.matching-antigens {
  border: 1px solid green !important;
  background: darkseagreen !important;
}
.matching-antibodies {
  border: 1px solid red !important;
  background: #e0a7a7 !important;
}

.matching_detail {
  border-spacing: 20px;
  margin-bottom: 50px;
}

.matching_detail tr {
  vertical-align: top;
  display: flex;
  margin-bottom: 10px;
}

.matching_detail td {
  margin-right: 20px;
}

.matching-detail {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 40%);
}
.matching-detail.fixed {
  position: fixed;
  overflow: scroll;
  height: 100vh;
}
@media (max-width: 1200px) {
  .matching-detail {
    position: relative;
    width: 100%;
  }
}

.round-detail {
  border-bottom: 1px solid #ddd;
  padding: 30px 50px 60px;
}
.round-detail h2 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 20px;
}

.login-form {
  display: flex;
  justify-content: center;
  /* center horizontally */
  align-items: center;
  /* center vertically */
  width: 100%;
  position: relative;
  top: 100px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 400px;
  color: #fff;
  text-align: center;
}

.login-title {
  font-size: 21px;
  margin-bottom: 30px;
}

.form-field {
  margin: 10px;
  width: 290px !important;
}

.text_box {
  background: whitesmoke;
  border-radius: 10px;
  padding: 20px 20px 3px;
  margin: 50px;
}

/*# sourceMappingURL=app.css.map */
