:root {
  --brand-red: #e2001a;
  --brand-white: #ffffff;
  --brand-grey-dark: #666666;
  --color-primary: var(--brand-red);
  --text-color: #000000;
  --padding-x: 50px ;
}

html {
  height: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background: var(--brand-white);
  color: var(--text-color);
  margin: 0;
}

header {
  display: flex;
  height: 70px;
  padding: 10px var(--padding-x);
}
@media (max-width: 540px) {
  header {
    height: auto;
    flex-direction: column;
  }
}
header .logo {
  width: 80px;
  height: 100%;
}
header .logo img {
  height: 100%;
}
@media (max-width: 540px) {
  header .logo {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
  }
  header .logo a {
    width: 100%;
    text-align: center;
  }
}
header .info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 14px;
  line-height: 1.75;
}
header .info .contact {
  color: var(--brand-grey-dark);
}
@media (max-width: 540px) {
  header .info {
    align-items: center;
    text-align: center;
  }
}

a:not(.no-style) {
  font-weight: 700;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  text-decoration: none;
  transition: all 0.2s ease;
}
a:not(.no-style):hover, a:not(.no-style):active, a:not(.no-style):focus {
  color: var(--color-primary);
  border-bottom-color: transparent;
}

.boxing {
  display: flex;
  flex-direction: column;
}

.header-boxing {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

.main-boxing {
  display: grid;
  grid-template-columns: 1fr 50px 2fr;
  height: 100%;
}

.configuration-boxing {
  margin-right: 20px;
  margin-bottom: 50px;
}

.patient-detail {
  margin: 20px;
}

.matching-list-boxing {
  width: 100%;
  margin-left: 50px;
}

.patient_box {
  background: whitesmoke;
  border-radius: 20px;
  padding: 30px;
  min-width: 38rem;
  height: 100%;
  vertical-align: top;
}

.configuration_form {
  overflow-y: scroll;
  background: whitesmoke;
  border-radius: 10px;
  padding: 30px;
}
.configuration_form .submit_button {
  background: darkseagreen;
  margin-top: 5px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  color: white;
  border: 2px solid green;
  font-weight: bold;
}

.config-table {
  margin-bottom: 30px;
  border-spacing: 10px;
}

.config-table td {
  text-align: left;
  vertical-align: top;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 30%;
  border-radius: 10px;
  border: 1px dashed gray;
}

.matching_envelope {
  border-spacing: 0px;
  background: whitesmoke;
  border-radius: 10px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 50px;
  padding: 20px 20px 3px;
}
.matching_box {
  background: whitesmoke;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px 20px 3px;
}
.matching_box .transplant-description {
  padding-left: 20px;
  margin-bottom: 20px;
  color: gray;
}
.matching_box .transplant-description .inline_code {
  border-radius: 3px;
  border: 1px solid plum;
  background: #e6e6e6;
  padding-left: 3px;
  padding-right: 3px;
  color: rebeccapurple;
}
.matching_box .transplant-description .inline_code_blue {
  border-radius: 3px;
  border: 1px solid lightskyblue;
  background: aliceblue;
  padding-left: 3px;
  padding-right: 3px;
  color: darkblue;
}
.matching_box .chain_link {
  border-radius: 5px;
  margin-left: 10px;
  padding: 8px 10px 5px;
  color: black;
  text-decoration: none;
  background: slategray;
}
.matching_box_expand {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  text-align: center;
  display: block;
  padding-top: 20px;
  vertical-align: middle;
  background: silver;
}
.matching_box_expand:hover {
  background: gray;
  color: whitesmoke;
}
.matching-blood-group {
  border: 1px solid green;
  background: darkseagreen;
}
.matching-antigens {
  border: 1px solid green !important;
  background: darkseagreen !important;
}
.matching-antibodies {
  border: 1px solid red !important;
  background: #e0a7a7 !important;
}

.matching_detail {
  border-spacing: 20px;
  margin-bottom: 50px;
}

.matching_detail tr {
  vertical-align: top;
  display: flex;
  margin-bottom: 10px;
}

.matching_detail td {
  margin-right: 20px;
}

.login-form {
  display: flex;
  justify-content: center;
  /* center horizontally */
  align-items: center;
  /* center vertically */
  width: 100%;
  position: relative;
  top: 100px;
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.title {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 400px;
  height: 400px;
  color: #fff;
  text-align: center;
}

.login-title {
  font-size: 21px;
  margin-bottom: 30px;
}

.form-field {
  margin: 10px;
  width: 290px !important;
}

.text_box {
  background: whitesmoke;
  border-radius: 10px;
  padding: 20px 20px 3px;
  margin: 50px;
}

/*# sourceMappingURL=app.css.map */
