@import "../../../styles/breakpoints";
@import "../../../styles/variables";

.configuration {

  &__boxes {
    display: flex;
    width: 100%;
    padding: $padding-y $padding-x;

    @include media-breakpoint-down(lg) {
      flex-direction: column;
    }

    > div {
      display: flex;
      flex-basis: 50%;
      width: 50%;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }

      @include media-breakpoint-down(lg) {
        flex-basis: 100%;
        width: 100%;
      }
    }
  }

  &__box, ::ng-deep &__box {
    border-radius: $border-radius--wide;
    background: $white;
    box-shadow: $box-shadow--wide;
    padding: $padding-y $padding-x;
    margin-bottom: $box-shadow--wide-size;
    overflow: hidden;

    margin-left: $item-gap;
    margin-right: $item-gap;
  }

  .inputs {
    display: flex;
    flex-wrap: wrap;

    .mat-form-field {
      flex-basis: 50%;
      width: 50%;

      padding: 0 $item-gap;
    }
  }

  .config-form {
    width: 100%;
    display: flex;

    .configuration__box {
      flex-basis: calc(50% - 2 * #{$item-gap});
      width: calc(50% - 2 * #{$item-gap});
    }
  }
}
