<div *ngIf="configuration && configForm"
     class="configuration">

    <form [formGroup]="configForm" class="config-form">
      <div class="configuration__box toggles">
        <mat-slide-toggle *ngIf="configuration.require_compatible_blood_group !== undefined"
                          formControlName="require_compatible_blood_group"
                          [checked]="configuration.require_compatible_blood_group">
          Require compatible blood group
        </mat-slide-toggle>

        <mat-slide-toggle *ngIf="configuration.require_better_match_in_compatibility_index !== undefined"
                          formControlName="require_better_match_in_compatibility_index"
                          [checked]="configuration.require_better_match_in_compatibility_index">
          Require new donor having better CI match than original donor
        </mat-slide-toggle>

        <mat-slide-toggle *ngIf="configuration.require_better_match_in_compatibility_index_or_blood_group !== undefined"
                          formControlName="require_better_match_in_compatibility_index_or_blood_group"
                          [checked]="configuration.require_better_match_in_compatibility_index_or_blood_group">
          Require new donor having better CI match than original donor or blood group match
        </mat-slide-toggle>

        <mat-slide-toggle *ngIf="configuration.use_binary_scoring !== undefined"
                          formControlName="use_binary_scoring"
                          [checked]="configuration.use_binary_scoring">
          Use binary scoring
        </mat-slide-toggle>

        <mat-slide-toggle *ngIf="configuration.use_split_resolution !== undefined"
                          formControlName="use_split_resolution"
                          [checked]="configuration.use_split_resolution">
          Use split resolution
        </mat-slide-toggle>
      </div>

      <div class="configuration__box inputs">

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Solver</mat-label>
          <mat-select formControlName="solver_constructor_name">
            <mat-option *ngFor="let solverConstructorName of allSolverConstructorNames" [value]="solverConstructorName">
              {{solverConstructorName}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="configuration.max_number_of_matchings !== undefined">
          <mat-label>Maximum number of matchings</mat-label>
          <input value="{{ configuration.max_number_of_matchings }}"
                 formControlName="max_number_of_matchings"
                 matInput type="number">
        </mat-form-field>

        <mat-form-field *ngIf="configuration.max_matchings_to_show_to_viewer !== undefined">
          <mat-label>Maximum matchings to show to viewer</mat-label>
          <input value="{{ configuration.max_matchings_to_show_to_viewer }}"
                 formControlName="max_matchings_to_show_to_viewer"
                 matInput type="number">
        </mat-form-field>

        <mat-form-field *ngIf="configuration.minimum_total_score !== undefined">
          <mat-label>Minimum transplant score</mat-label>
          <input value="{{ configuration.minimum_total_score }}"
                 formControlName="minimum_total_score"
                 matInput type="number">
        </mat-form-field>

        <mat-form-field *ngIf="configuration.max_number_of_distinct_countries_in_round !== undefined">
          <mat-label>Max countries in round</mat-label>
          <input value="{{ configuration.max_number_of_distinct_countries_in_round }}"
                 formControlName="max_number_of_distinct_countries_in_round"
                 matInput type="number">
        </mat-form-field>

        <mat-form-field *ngIf="configuration.max_cycle_length !== undefined">
          <mat-label>Max cycle length</mat-label>
          <input value="{{ configuration.max_cycle_length }}"
                 formControlName="max_cycle_length"
                 matInput type="number">
        </mat-form-field>

        <mat-form-field *ngIf="configuration.max_sequence_length !== undefined">
          <mat-label>Max sequence length</mat-label>
          <input value="{{ configuration.max_sequence_length }}"
                 formControlName="max_sequence_length"
                 matInput type="number">
        </mat-form-field>

        <mat-form-field *ngIf="configuration.blood_group_compatibility_bonus !== undefined">
          <mat-label>Compatible blood group bonus</mat-label>
          <input value="{{ configuration.blood_group_compatibility_bonus }}"
                 formControlName="blood_group_compatibility_bonus"
                 matInput type="number">
        </mat-form-field>

        <mat-form-field *ngIf="configuration.max_debt_for_country !== undefined">
          <mat-label>Max difference between received and given kidneys for one country</mat-label>
          <input value="{{ configuration.max_debt_for_country }}"
                 formControlName="max_debt_for_country"
                 matInput type="number">
        </mat-form-field>
      </div>
    </form>

    <ng-container *ngIf="patients !== undefined">
      <app-configuration-countries [configuration]="configuration"
                                   [patients]="patients"></app-configuration-countries>

      <app-configuration-scores [configuration]="configuration"
                                [patients]="patients"></app-configuration-scores>

      <app-configuration-patients [configuration]="configuration"
                                  [patients]="patients"></app-configuration-patients>
    </ng-container>

  <app-button (click)="submitAction()">Set values</app-button>
</div>
