<div *ngIf="configuration && configForm"
     [class.open]="isOpened"
     class="configuration">

  <app-container>
    <div class="configuration__header">
      <h1>Configuration</h1>
      <button (click)="close()">
        <fa-icon [icon]="closeIcon"></fa-icon>
      </button>
    </div>
  </app-container>

  <form [formGroup]="configForm">
    <div class="configuration__boxes">
      <div>
        <div class="configuration__box checkboxes">
          <h3></h3>
          <label *ngIf="configuration.require_compatible_blood_group !== undefined">
            <input [checked]="configuration.require_compatible_blood_group"
                   formControlName="require_compatible_blood_group"
                   type="checkbox">
            Require compatible blood group
          </label>

          <label *ngIf="configuration.require_better_match_in_compatibility_index !== undefined">
            <input [checked]="configuration.require_better_match_in_compatibility_index"
                   formControlName="require_better_match_in_compatibility_index"
                   type="checkbox">
            Require new donor having better CI match than original donor
          </label>

          <label *ngIf="configuration.require_better_match_in_compatibility_index_or_blood_group !== undefined">
            <input [checked]="configuration.require_better_match_in_compatibility_index_or_blood_group"
                   formControlName="require_better_match_in_compatibility_index_or_blood_group"
                   type="checkbox">
            Require new donor having better CI match than original donor or blood group match
          </label>

          <label *ngIf="configuration.use_binary_scoring !== undefined">
            <input [checked]="configuration.use_binary_scoring"
                   formControlName="use_binary_scoring"
                   type="checkbox">
            Use binary scoring
          </label>

          <label *ngIf="configuration.allow_low_high_res_incompatible !== undefined">
            <input [checked]="configuration.allow_low_high_res_incompatible"
                   formControlName="allow_low_high_res_incompatible"
                   type="checkbox">
            Use split resolution
          </label>
        </div>

        <div class="configuration__box inputs">
          <label *ngIf="configuration.blood_group_compatibility_bonus !== undefined">
            <span>Compatible blood group bonus</span>
            <input [value]="configuration.blood_group_compatibility_bonus" formControlName="blood_group_compatibility_bonus" type="number"><br><br>
          </label>

          <label *ngIf="configuration.minimum_total_score !== undefined">
            <span>Minimum transplant score</span>
            <input [value]="configuration.minimum_total_score" formControlName="minimum_total_score" type="number"><br><br>
          </label>

          <label *ngIf="configuration.maximum_total_score !== undefined">
            <span>Maximum transplant score</span>
            <input [value]="configuration.maximum_total_score" formControlName="maximum_total_score" type="number"><br><br>
          </label>

          <label *ngIf="configuration.max_cycle_length !== undefined">
            <span>Max cycle length</span>
            <input [value]="configuration.max_cycle_length" formControlName="max_cycle_length" type="number"><br><br>
          </label>

          <label *ngIf="configuration.max_sequence_length !== undefined">
            <span>Max sequence length</span>
            <input [value]="configuration.max_sequence_length" formControlName="max_sequence_length" type="number"><br><br>
          </label>

          <label *ngIf="configuration.max_number_of_distinct_countries_in_round !== undefined">
            <span>Max countries in round</span>
            <input [value]="configuration.max_number_of_distinct_countries_in_round" formControlName="max_number_of_distinct_countries_in_round"
                   type="number">
          </label>

        </div>
      </div>
    </div>
  </form>

  <div *ngIf="showManualScore"
       class="configuration__interactive">
    <h3>Manual scores for donor and recipient</h3>
    <div class="configuration__box">
      <div class="list">
        <div *ngIf="configuration?.manual_donor_recipient_scores?.length then manualScoresList else nothingFound"></div>
      </div>
      <div class="add-new">
        <form [formGroup]="manualScoreForm">
          <label *ngIf="patients && patients.donors">
            <span>Donor</span>
            <div class="autocomplete">
              <ng-autocomplete [data]="patients.donors"
                               [itemTemplate]="patientItemTemplate"
                               [notFoundTemplate]="notFoundTemplate"
                               [searchKeyword]="'medical_id'"
                               formControlName="donor"
                               notFoundText="Patient not found"></ng-autocomplete>
            </div>
          </label>
          <label *ngIf="patients && patients.recipients">
            <span>Recipient</span>
            <div class="autocomplete">
              <ng-autocomplete [data]="patients.recipients"
                               [itemTemplate]="patientItemTemplate"
                               [notFoundTemplate]="notFoundTemplate"
                               [searchKeyword]="'medical_id'"
                               formControlName="recipient"
                               notFoundText="Patient not found"></ng-autocomplete>
            </div>
          </label>
          <label>
            <span>Score</span>
            <input formControlName="score" type="number">
          </label>
        </form>
        <div class="add-new__button">
          <app-button (click)="addManualScore()" size="sm" variant="success">
            Add
            <fa-icon [icon]="plusIcon"></fa-icon>
          </app-button>
        </div>
      </div>
    </div>
  </div>

  <app-configuration-countries [configuration]="configuration"
                               [patients]="patients"></app-configuration-countries>

  <app-configuration-patients [configuration]="configuration"
                              [patients]="patients"></app-configuration-patients>

  <app-button (click)="submitAction()">Recalculate</app-button>
</div>

<ng-template #manualScoresList>
  <div *ngFor="let manualScore of configuration?.manual_donor_recipient_scores"
       class="item">
    <div class="donor">
      {{ getDonor(manualScore.donor) }}
    </div>
    <div class="recipient">
      {{ getRecipient(manualScore.recipient) }}
    </div>
    <div class="score">
      {{manualScore.score}}
    </div>
    <div class="remove">
      <button (click)="removeManualScore(manualScore)">
        <fa-icon [icon]="closeIcon"></fa-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #countriesList>
  <div *ngFor="let forbidden of configuration?.forbidden_country_combinations"
       class="item">
    <div class="donor">
      {{ forbidden.donor_country }}
    </div>
    <div class="recipient">
      {{ forbidden.recipient_country }}
    </div>
    <div class="remove">
      <button (click)="removeCountryCombination(forbidden)">
        <fa-icon [icon]="closeIcon"></fa-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #patientsList>
  <div *ngFor="let id of configuration?.required_patient_db_ids"
       class="item">
    <div class="patient">
      {{ id }}
    </div>
    <div class="remove">
      <button (click)="removePatient(id)">
        <fa-icon [icon]="closeIcon"></fa-icon>
      </button>
    </div>
  </div>
</ng-template>

<ng-template #nothingFound>
  Continue by adding new entry
</ng-template>

<ng-template #patientItemTemplate let-item>
  <a [innerHTML]="item['medical_id']"></a>
</ng-template>

<ng-template #countryItemTemplate let-item>
  <a [innerHTML]="item"></a>
</ng-template>

<ng-template #notFoundTemplate let-notFound>
  <div [innerHTML]="notFound"></div>
</ng-template>
