<div class="reset-password">

  <div class="reset-password-content">
    <app-logo></app-logo>

    <div class="reset-password-form" *ngIf="!wasReset">
      <h3>
        Please select password that is at least 8 characters long
      </h3>
      <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">

        <label [class.error]="(submitted || f.password.value) && f.password.invalid"
               [class.success]="f.password.valid">
          <span>New password</span>
          <input formControlName="password" type="password">
        </label>

        <label [class.error]="(submitted || f.passwordRepeat.value) && f.passwordRepeat.invalid"
               [class.success]="f.passwordRepeat.valid">
          <span>Confirm password</span>
          <input formControlName="passwordRepeat" type="password">
        </label>

        <app-button type="submit" [loading]="loading" [disabled]="!canSubmit()">Reset password</app-button>
      </form>
    </div>

    <div *ngIf="wasReset">
      <p>
        Your password has been reset. </p>
      <p>
        Now you can
        <strong><a routerLink="/login" routerLinkActive="inactive">login</a></strong>
        to your account.
      </p>

    </div>
  </div>

</div>

<app-alert></app-alert>
