@import "../../../styles/variables";

.configuration__patients {
  form, .mat-form-field {
    width: 100%;
  }

  form {
    min-height: 80px;
    display: flex;
    align-items: flex-end;
  }

  h4 {
    margin: 0;
    color: $body-color;
  }

  .hint {
    font-size: 12px;
    color: $gray-600;
    margin-bottom: $box-shadow--wide-size;
  }
}
