@import "../../../styles/variables";

.configuration__patients {
  form, .mat-form-field {
    width: 100%;
  }

  h4 {
    margin: 0;
    color: $body-color;
  }

  .hint {
    font-size: 12px;
    color: $gray-600;
    margin-bottom: $box-shadow--wide-size;
  }
}
