<div class="matchings-explorer">
  <div class="list">
    <div #list
         infinite-scroll
         class="list-inner"
         (scrolled)="onScrollDown()"
         [scrollWindow]="false">
      <app-item-list-single *ngFor="let item of displayedItems; trackBy: trackListItem"
                            [listItemComponent]="listItemComponent"
                            [isActive]="item === activeItem"
                            [item]="item"
                            [patients]="patients"
                            [configuration]="configuration"
                            (click)="setActive(item)"></app-item-list-single>
    </div>
  </div>
  <div #detail class="detail">
    <div [class.aligned-bottom]="activeAlignedBottom"
         [class.aligned-top]="activeAlignedTop"
         class="detail-inner">
      <ng-template listItemDetail></ng-template>
    </div>
  </div>
</div>
