.login {
  padding: 30px;
  background: $login-bg;

  h1 {
    text-align: center;

    &:after {
      display: none;
    }
  }

  main {
    flex-grow: 1;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-form {
    padding: 30px;
    width: 350px;
    max-width: 100%;
    border-radius: 6px;
    box-shadow: $box-shadow;
    background: $brand-white;

    .form-field {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      > * {
        flex-grow: 1;
      }
    }

    button {
      margin: auto;
      display: block;
      margin-top: 30px;
    }
  }

  .messages {
    color: $brand-red;
  }
}

