@import "../variables";

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  background: $body-bg;
  color: $body-color;
  margin: 0;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  height: 100%;

  &, * {
    box-sizing: border-box;
  }

  &::after {
    content: '';
    background: $black;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    height: 0;
    opacity: 0;
    overflow: hidden;

    transition: opacity 0.5s ease;
  }

  &.config-opened {
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    &::after {
      height: 100vh;
      opacity: 0.5;
    }
  }
}
