@import "../variables";

body {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  background: $body-bg;
  color: $body-color;
  margin: 0;
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  height: 100%;

  &, * {
    box-sizing: border-box;
  }

  &.config-opened {
    max-height: 100vh;
    overflow: hidden;
  }
}
