code {
  background: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #666;
  page-break-inside: avoid;
  font-family: monospace;
  font-size: 15px;
  max-width: 100%;
  overflow: auto;
  padding: 5px 10px;
  display: block;
  word-wrap: break-word;
  margin: 5px 0;
}
