<div *ngIf="item" class="detail-recipient">

  <div class="detail__header">
    <patient [patient]="item"></patient>

    <app-button (click)="handleSave()"
                [loading]="loading"
                [disabled]="loading"
                [success]="!loading && success"
                [variant]="'success'">Save changes
    </app-button>
  </div>

  <form (ngSubmit)="handleSave()">

    <app-recipient-settings [recipient]="recipientEditable"
                            [showCountryAndMedicalId]="false"
                            [showMatchingConditions]="true">
    </app-recipient-settings>

    <app-button [type]="'submit'"
                [loading]="loading"
                [disabled]="loading"
                [success]="!loading && success"
                [variant]="'success'">Save changes
    </app-button>
  </form>
</div>
