<div *ngIf="item" class="detail-recipient">
  <ng-container *ngIf="item.allMessages">
    <app-parsing-issue-confirmation
      [data]="item.allMessages.error"
      warningType="error"
      [defaultTxmEvent]="defaultTxmEvent"
    ></app-parsing-issue-confirmation>
    <app-parsing-issue-confirmation
      [data]="item.allMessages.warning"
      warningType="warning"
      [defaultTxmEvent]="defaultTxmEvent"
    ></app-parsing-issue-confirmation>
    <app-parsing-issue-confirmation
      [data]="item.allMessages.info"
      warningType="info"
      [defaultTxmEvent]="defaultTxmEvent"
    ></app-parsing-issue-confirmation>
  </ng-container>

  <div class="detail__header">
    <app-patient [patient]="item"></app-patient>

    <app-button
      (click)="handleSave()"
      [loading]="loading"
      [disabled]="loading"
      [success]="!loading && success"
      [variant]="'success'"
      >Save changes
    </app-button>
  </div>

  <form (ngSubmit)="handleSave()">
    <app-recipient-settings
      [recipient]="recipientEditable"
      [showCountryAndMedicalId]="false"
      [showMatchingConditions]="true"
    >
    </app-recipient-settings>

    <app-button
      [type]="'submit'"
      [loading]="loading"
      [disabled]="loading"
      [success]="!loading && success"
      [variant]="'success'"
      >Save changes
    </app-button>
  </form>
</div>
