@import '../../../styles/animations';
@import '../../../styles/variables';

.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  fa-icon {
    color: var(--primary-color);
    transform: none;
    animation: rotate 1s ease-in-out infinite;

    &.size-sm {
      font-size: 16px;
    }
    &.size-md {
      font-size: 24px;
    }
    &.size-lg {
      font-size: 32px;
    }
  }
}
