@import "../../../styles/variables";

.patient-search {

  ::ng-deep .autocomplete-container {
    box-shadow: none;

    input {
      padding: 10px 15px;
      box-shadow: none;
      border: 1px solid $border-color;
      font-size: $font-size;
      height: auto;
      line-height: normal;
    }

    .suggestions-container {
      margin: auto;
      border-radius: $input-border-radius;
      overflow: hidden;
    }

    &.active {
      .suggestions-container {
        &.is-visible {
          box-shadow: $box-shadow;
          border: 1px solid $border-color;
        }
      }
    }
  }
}

