@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@import "styles/elements/a";
@import "styles/elements/body";
@import "styles/elements/form";
@import "styles/elements/html";
@import "styles/elements/section";
@import "styles/elements/headings";
@import "styles/elements/code";
