<div class="pair-detail">

  <div class="pair-detail__nav">
    <app-tab-switch [tabs]="tabNames"
                    [activeTab]="activeTab ? activeTab : ''"
                    (tabClicked)="setActiveTab($event)"></app-tab-switch>
  </div>

  <div [ngSwitch]="activeTab">
    <div *ngSwitchCase="tabs.Pair"
         class="pair-detail__content">
      pair detail
    </div>
    <app-patient-detail-donor *ngSwitchCase="tabs.Donor"></app-patient-detail-donor>
    <app-patient-detail-recipient *ngSwitchCase="tabs.Recipient"></app-patient-detail-recipient>
  </div>
</div>
