@import "../../../styles/variables";

.pair-detail {
  padding: $padding-y 0;

  &__nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__pair {
    padding: 0 $padding-x $padding-y;
  }

  &__header {
    max-width: 960px;
    display: flex;
    margin: 0 auto $item-gap;
    margin-top: 0;
    color: #000;
  }
}

h3 {
  margin: 0;
  padding: 0;
}
