<div class="pair-detail">

  <div class="pair-detail__nav">
    <app-tab-switch [tabs]="tabNames"
                    [activeTab]="activeTab ? activeTab : ''"
                    (tabClicked)="setActiveTab($event)"></app-tab-switch>
  </div>

  <div *ngIf="item" [ngSwitch]="activeTab">
    <div *ngSwitchCase="tabs.Pair"
         class="pair-detail__content">
      pair detail
    </div>
    <app-patient-detail-donor *ngSwitchCase="tabs.Donor"
                              [item]="item.donor"
                              [patients]="patients"></app-patient-detail-donor>
    <app-patient-detail-recipient *ngSwitchCase="tabs.Recipient"
                                  [item]="item.recipient"
                                  [patients]="patients"></app-patient-detail-recipient>
  </div>
</div>
