<app-content>
  <div class="matchings-explorer">
    <div #list
         (scrolled)="onScrollDown()"
         [scrollWindow]="false"
         class="list"
         infinite-scroll>
      <app-matching-item (click)="setActive(matching)"
                         *ngFor="let matching of matchingsInView"
                         [isActive]="matching === activeMatching"
                         [configuration]="configuration"
                         [matching]="matching"
                         [patients]="patients"></app-matching-item>
    </div>
    <div #detail class="detail">
      <div *ngIf="activeMatching">
        <app-matching-detail [matching]="activeMatching" [patients]="patients"></app-matching-detail>
      </div>
    </div>
  </div>
</app-content>
