@import "../../../styles/breakpoints";
@import "../../../styles/variables";

.matchings-explorer {
  flex-grow: 1;
  position: relative;

  min-height: calc(50vh);
  height: 100%;
  display: flex;

  border-radius: $border-radius--wide;
  overflow-y: hidden;
  overflow-x: visible;

  @include media-breakpoint-down(md) {
    flex-direction: column;
  }

  .list, .detail {
    position: absolute;
    height: 100%;
    padding: $border-radius--wide;

    @include media-breakpoint-down(md) {
      position: relative;
    }
  }

  .list {
    width: 40%;
    max-width: 800px;
    left: 0;
    padding-left: 0;
    padding-right: 0;

    &-inner {
      padding-left: $box-shadow--wide-size;
      height: 100%;
      overflow-y: scroll;
      scroll-behavior: smooth;
      position: relative;
    }

    &::before, &::after {
      position: absolute;
      content: '';
      height: $box-shadow--wide-size;
      width: 100%;
      left: 0;
      z-index: 1;
    }

    &::before {
      top: $box-shadow--wide-size;
      background: linear-gradient($body-bg, rgba($body-bg, 0));
    }

    &::after {
      bottom: $box-shadow--wide-size;
      background: linear-gradient(rgba($body-bg, 0), $body-bg);
    }

    @include media-breakpoint-down(md) {
      height: 600px;
      width: 100%;
      max-width: none;

      &::after {
        display: none;
      }
    }
  }

  .detail {
    width: 60%;
    min-width: calc(100% - 800px);
    right: 0;
    padding-left: 0;
    z-index: 2;

    &-inner {
      background: $white;
      border-radius: $border-radius--wide;
      box-shadow: $box-shadow--wide;
      height: 100%;
      overflow-y: scroll;
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      min-width: 0;
    }
  }
}

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
