<app-content>
  <div class="matchings-explorer">
    <div #list class="list">
      <app-matching-item (click)="setActive(matching)"
                         *ngFor="let matching of matchings"
                         [isActive]="matching === activeMatching"
                         [matching]="matching"></app-matching-item>
    </div>
    <div #detail class="detail">
      <div *ngIf="activeMatching">
        <app-matching-detail [matching]="activeMatching"></app-matching-detail>
      </div>
    </div>
  </div>
</app-content>
