.matchings-explorer {
  flex-grow: 1;
  background: var(--brand-white);
  border-radius: var(--border-radius--wide) var(--border-radius--wide) 0 0;

  min-height: calc(50vh);
  height: 100%;
  display: flex;

  .list {
    width: calc(30vw);
    min-width: 400px;

    overflow-y: scroll;
    height: 100%;

    background: var(--text-color-secondary);
  }

  .detail {
    flex-grow: 1;
  }
}

.matching {
  &-item {

  }

  &-detail {

  }
}

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
