@import "../../../styles/variables";

:host {
  position: relative;
}

.dropdown {
  display: none;
  z-index: 10;

  position: absolute;
  top: 100%;
  right: 0;

  width: 220px;
  background: $white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  margin-top: 10px;
  padding: 10px 10px 20px;

  &.open {
    display: block;
  }
}
