<div *ngIf="round" class="matching-round">
  <div class="index">{{ roundIndex }}</div>
  <div class="content">
    <div *ngFor="let transplant of round.transplants"
         [class.compatible]="isDonorBloodCompatible(transplant)"
         [class.w-indicator]="configuration && !configuration.use_binary_scoring"
         class="matching-round__transplant">

      <ng-container *ngIf="donor(transplant) && recipient(transplant)">
        <!--        <flag [countryCode]="donor(transplant).parameters.country_code"></flag>-->
        {{ transplant.donor }}
        <fa-icon [icon]="arrowRight"></fa-icon>
        {{ transplant.recipient }}
        <!--        <flag [countryCode]="recipient(transplant).parameters.country_code"></flag>-->
      </ng-container>

      <div *ngIf="configuration && !configuration.use_binary_scoring"
           [style.background-position.%]="percentageScore(transplant)"
           class="indicator"></div>

    </div>
  </div>
</div>
