@import "../../../styles/variables";

.matching-round {

  border-bottom: 1px solid $border-color;
  display: flex;
  padding: 5px 0;

  .index {
    font-weight: 700;
    color: $brand-grey-darker;
    margin-right: 15px;
    display: inline-block;
    min-width: 20px;
  }

  .content {
    flex-grow: 1;
  }

  &__transplant {
    display: inline-block;
    margin: 2px 20px 2px 0;
    border-radius: $border-radius;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    font-weight: 400;

    fa-icon {
      margin: 0 5px;
    }

    &:hover {
      filter: brightness(0.8);
    }

    &.compatible .content {
      background-color: $transplant-bg--compatible;
      color: $transplant-color--compatible;
    }

    &.w-indicator {
      padding-right: 20px;
    }

    .content {
      padding: 7px 10px 7px;
      background-color: $transplant-bg--incompatible;
      color: $transplant-color--incompatible;
    }
  }
}

:host {

  &:last-child {

    .matching-round {
      border-bottom: none;
    }
  }
}
