<div *ngIf="round" class="matching-round">
  <div class="index">{{ round.index }}</div>
  <div class="content">
    <div *ngFor="let transplant of round.transplants"
         [class.compatible]="transplant.compatible_blood"
         [class.w-indicator]="configuration && !configuration.use_binary_scoring"
         (click)="setActiveTransplant(transplant.index)"
         class="matching-round__transplant">

      <div class="content">
        <app-patient-pair [pair]="transplant"></app-patient-pair>
      </div>

      <app-score-indicator *ngIf="configuration && !configuration.use_binary_scoring"
                           [configuration]="configuration"
                           [score]="transplant.score"></app-score-indicator>

    </div>
  </div>
</div>
