@import "../../../styles/variables";

.matching-round {

  border-bottom: 1px solid $border-color;
  display: flex;
  padding: 5px 0;

  .index {
    font-weight: 700;
    color: $brand-grey-darker;
    margin-right: 15px;
    display: inline-block;
    min-width: 20px;
  }

  .content {
    flex-grow: 1;
  }

  &__transplant {
    display: inline-block;
    padding: 8px 10px 5px;
    margin: 2px 20px 2px 0;
    border-radius: $border-radius;
    position: relative;
    cursor: pointer;

    background-color: $transplant-bg--incompatible;
    color: $transplant-color--incompatible;

    font-weight: 400;

    fa-icon {
      margin: 0 5px;
    }

    &:hover {
      filter: brightness(0.8);
    }

    &.compatible {
      background-color: $transplant-bg--compatible;
      color: $transplant-color--compatible;
    }

    .content {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .check {
        color: $code-color--matching;
        margin-left: 10px;
      }
    }

    &.w-indicator {
      border-radius: $border-radius 0 0 $border-radius;
      margin-right: 25px;
    }

    .indicator {
      background: linear-gradient(90deg, rgba(255, 164, 0, 1) 0%, rgba(255, 225, 76, 1) 15%, rgba(207, 231, 51, 1) 30%, rgba(152, 217, 97, 1) 75%, rgba(112, 196, 123, 1) 100%);
      background-size: 100vw;
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      width: 20px;

      border-radius: 0 $border-radius $border-radius 0;

      &.bad-matching {
        background: #ff0000;
      }
    }

  }
}

:host {

  &:last-child {

    .matching-round {
      border-bottom: none;
    }
  }
}
