<div *ngIf="item" class="detail-donor">
  <app-warning *ngFor="let data of item.all_messages | keyvalue" [data]="data.value" [warningType]="data.key"></app-warning>

  <div class="detail__header">
    <patient [patient]="item"></patient>

    <app-button (click)="handleSave()"
                [loading]="loading"
                [disabled]="loading"
                [success]="!loading && success"
                [variant]="'success'">Save changes
    </app-button>
  </div>

  <form (ngSubmit)="handleSave()">

    <app-donor-settings [donor]="donorEditable"
                        [showCountryMedicalIdAndDonorType]="false"
                        [showActiveCheckbox]="true">
    </app-donor-settings>

    <div class="buttons">
      <app-button [type]="'submit'"
                  [loading]="loading"
                  [disabled]="loading"
                  [success]="!loading && success"
                  [variant]="'success'">Save changes
      </app-button>

      <app-button [loading]="deleteLoading"
                  [disabled]="deleteLoading"
                  [success]="!deleteLoading && deleteSuccess"
                  [variant]="'danger'"
                  [size]="'sm'"
                  (click)="handleDeleteDonor()">
        <fa-icon [icon]="deleteIcon"></fa-icon>&nbsp;Delete
      </app-button>
    </div>
  </form>
</div>
