<div *ngIf="item" class="detail-donor">

  <div class="detail__header">
    <patient [patient]="item"></patient>

    <app-button (click)="handleSave()"
                [loading]="loading"
                [disabled]="loading"
                [success]="!loading && success"
                [variant]="'success'">Save changes
    </app-button>
  </div>

  <form (ngSubmit)="handleSave()">

    <app-donor-settings [donor]="donorEditable"
                        [showCountryMedicalIdAndDonorType]="false"
                        [showActiveCheckbox]="true">
    </app-donor-settings>

    <app-button [type]="'submit'"
                [loading]="loading"
                [disabled]="loading"
                [success]="!loading && success"
                [variant]="'success'">Save changes
    </app-button>
  </form>
</div>
