@import "../../../styles/variables";

.detail-donor {
  padding: $padding-y calc(#{$padding-x} * 2);

  .detail__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $box-shadow--wide-size;

    ::ng-deep .patient {
      font-size: 32px;
    }
  }

  form, mat-form-field {
    width: 100%;
  }

  form {
    margin-top: $padding-y;
  }

  mat-form-field {
    margin-bottom: $padding-y;
  }

  .key {
    background: $gray-200;
    font-family: monospace;
    border-radius: 3px;
    padding: 2px 5px;
    display: inline-block;

    mat-icon {
      vertical-align: -2px;
    }
  }

  .checkboxes {
    margin: $item-gap 0 $padding-y;
    border-bottom: 1px solid $gray-500;
  }

  .buttons {
    display: flex;
    align-items: baseline;
    justify-content: center;

    &>* {
      margin: 0 20px;
    }
  }
}
