@import "../../../styles/variables";

.transplant {
  display: flex;
  flex-direction: column;
  margin: 0 auto $item-gap;

  border-radius: $border-radius--wide;
  box-shadow: $box-shadow--wide;
  overflow: hidden;

  max-width: 960px;

  &-header {
    padding: calc(#{$padding-y} / 2) $padding-x;
    font-weight: 700;

    display: flex;
    position: relative;

    background-color: $transplant-bg--incompatible;
    color: $transplant-color--incompatible;

    border-top-right-radius: calc(#{$border-radius--wide} + 10px); // fixes bug with show 1px of dark bg

    &.compatible {
      background-color: $transplant-bg--compatible;
      color: $transplant-color--compatible;
    }
  }

  .small {
    font-size: 12px !important;
    display: inline-block;
    margin-left: 10px;
  }

  .patient-info {
    margin-top: 2px;
    font-size: 12px;
    font-weight: $font-weight;

    span + span {
      &::before {
        content: '●';
        margin: 0 5px;
      }
    }
  }

  table {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border-collapse: collapse;
  }

  tr {

    &:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }

    &:first-child {
      font-weight: 700;
      border-top: none;
    }

    &:last-child {
      td {
        padding-bottom: $padding-y;
      }
    }

    &.anti-header {
      td {
        background: rgba($black, 0.015);
        color: $body-color--secondary;
        font-size: 10px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 2px;
      }
    }
  }

  td {
    text-align: center;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid $border-color;

    .center-holder {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &:not([colspan]) {
      // cant use calc
      // "Any math expression of a complex type is treated as auto. Simple typed things continue to work as today."
      width: 21.6666666%;
    }

    &:first-child {
      width: 20%;
      text-align: left;
      font-size: 14px;
      font-weight: 400;
      font-family: monospace;
      text-transform: uppercase;
      color: $body-color--secondary;

      padding-top: 17px;
      padding-left: $padding-y;
    }

    &:last-child {
      width: 15%;
      font-weight: 700;
      border-right: none;
    }

    &.border-t-none {
      border-top: none;
    }

    &.border-b-none {
      border-bottom: none;
    }
  }
}
