<div *ngIf="transplant" class="transplant">
  <div class="transplant-header"
       [class.compatible]="transplant.compatible_blood">
    <app-patient-pair [pair]="transplant"></app-patient-pair>

    <app-score-indicator [configuration]="configuration"
                         [score]="totalScore"
                         [showScore]="true"></app-score-indicator>
  </div>

  <div class="transplant-content">
    <table>
      <tbody>
      <tr>
        <td></td>
        <td>
          Donor
          <div class="center-holder">
            <patient [patient]="transplant.d"></patient>
          </div>
        </td>
        <td colspan="2">
          Recipient
          <div class="center-holder">
            <patient [patient]="transplant.r"></patient>
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>Blood type</td>
        <td>
          <app-code [class.matching]="transplant.compatible_blood || pairBloodCompatible">{{ transplant.d.parameters.blood_group }}</app-code>
        </td>
        <td colspan="2">
          <app-code [class.matching]="transplant.compatible_blood || pairBloodCompatible">{{ transplant.r.parameters.blood_group }}</app-code>
          <div class="small">
            Acceptable:
            <app-code *ngFor="let bloodGroup of transplant.r.acceptable_blood_groups">{{ bloodGroup }}</app-code>
          </div>
        </td>
        <td></td>
      </tr>
      <tr class="anti-header">
        <td></td>
        <td>Antigens</td>
        <td>Antigens</td>
        <td>Antibodies</td>
        <td></td>
      </tr>
      <tr *ngFor="let prefix of prefixes">
        <td>{{prefix}}</td>
        <td>
          <app-code *ngFor="let code of filterCodes(transplant.d.parameters.hla_typing.hla_types_list, prefix)"
                    [class]="getDonorAntigenClass(code.code)">{{ code.code }}</app-code>
        </td>
        <td>
          <app-code *ngFor="let code of filterCodes(transplant.r.parameters.hla_typing.hla_types_list, prefix)"
                    [class]="getRecipientAntigenClass(code.code)">{{ code.code }}</app-code>
        </td>
        <td>
          <app-code *ngFor="let code of filterPureCodes(transplant.r.hla_antibodies.hla_codes_over_cutoff, prefix)"
                    [class]="getRecipientAntibodyClass(code)">{{ code }}</app-code>
        </td>
        <td>{{ hlaScores ? hlaScores.get(prefix) : 0 }}</td>
      </tr>
      <tr>
        <td>Other</td>
        <td>
          <app-code *ngFor="let code of otherHLA(transplant.d.parameters.hla_typing.hla_types_list)"
                    [class]="getDonorAntigenClass(code.code)">{{ code.code }}</app-code>
        </td>
        <td>
          <app-code *ngFor="let code of otherHLA(transplant.r.parameters.hla_typing.hla_types_list)"
                    [class]="getRecipientAntigenClass(code.code)">{{ code.code }}</app-code>
        </td>
        <td>
          <app-code *ngFor="let code of otherHLAPure(transplant.r.hla_antibodies.hla_codes_over_cutoff)"
                    [class]="getRecipientAntibodyClass(code)">{{ code }}</app-code>
        </td>
        <td>-</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
