<div class="pair-detail">

  <div class="pair-detail__nav">
    <app-tab-switch [tabs]="tabNames"
                    [activeTab]="activeTab ? activeTab : ''"
                    (tabClicked)="setActiveTab($event)"></app-tab-switch>
  </div>

  <div *ngIf="item" [ngSwitch]="activeTab">
    <div *ngSwitchCase="tabs.Overview"
         class="pair-detail__pair">
      <app-matching-transplant [donor]="item"
                               [isBloodCompatible]="item.compatible_blood_with_related_recipient"
                               [score]="item.score_with_related_recipient"
                               [detailedScorePerGroup]="item.detailed_score_with_related_recipient"
                               [configuration]="configuration"></app-matching-transplant>
    </div>
    <app-patient-detail-donor *ngSwitchCase="tabs.Settings"
                              [item]="item"
                              [patients]="patients"></app-patient-detail-donor>
  </div>
</div>
