// === BRAND COLORS === //
$brand-ikem: #e2001a;
$brand-mild-blue: #2d4496;
$brand-grey-dark: #dddddd;
$brand-grey-darker: #666666;

// === GRAYS === //
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

// === APP COLORS === //
$black: #000000;
$white: #ffffff;
$light: #f9f9f9;
$dark: $brand-grey-darker;
$accent: #007bff;
$success: #28a745;
$success-lighter: rgba($success, 0.2);
$danger: #dc3545;
$danger-lighter: rgba($danger, 0.2);
$info: #007bff;
$warning: #c17a3c;

// === TRANSPLANT STATES === //
$transplant-bg--compatible: $gray-200;
$transplant-color--compatible: $black;
$transplant-bg--incompatible: $dark;
$transplant-color--incompatible: $light;

// === ANTIBODIES & ANTIGENS CODES === //
// basic code
$code-bg--basic: $gray-200;
$code-border-color--basic: $gray-600;
$code-color--basic: $gray-600;

// matching code
$code-bg--matching: $success-lighter;
$code-border-color--matching: $success;
$code-color--matching: $success;

// bad matching code
$code-bg--bad-matching: $danger-lighter;
$code-border-color--bad-matching: $danger;
$code-color--bad-matching: $danger;

//warning
$warning-icon: #ffc82e;
$warning-text: #4a3300;
$warning-bg: #fdf5e4;

//error
$error-icon: #e12828;
$error-text: #5a0000;
$error-bg: #fde4e4;

//info
$info-icon: #2e82ff;
$info-text: #001b51;
$info-bg: #e4ecfd;
