<div class="new-patient">

  <form [formGroup]="form" (ngSubmit)="handleSubmit()">

    <!-- Country -->
    <mat-form-field>
      <mat-label>Country</mat-label>

      <mat-chip-list #countryChip>
        <mat-chip *ngIf="form.controls.country.valid"
                  [removable]="true"
                  (removed)="handleRemove('country', countryInput)">
          <country [country]="selectedCountry"></country>
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input formControlName="country"
               [matChipInputFor]="countryChip"
               [errorStateMatcher]="errorMatcher"
               [matAutocomplete]="donorAuto"
               [placeholder]="!selectedCountry ? 'Search by country code' : ''"
               matInput #countryInput type="text">
      </mat-chip-list>

      <mat-autocomplete #donorAuto="matAutocomplete" (optionSelected)="handleSelect(countryInput)">
        <mat-option *ngFor="let c of filteredCountries | async" [value]="c">
          <country [country]="c"></country>
        </mat-option>
      </mat-autocomplete>

      <mat-hint>
        Search and select 1 country from {{allCountries.length}} available countries.
      </mat-hint>
    </mat-form-field>

    <!-- Donor -->
    <h2>Donor</h2>

    <!-- Donor antigens -->
    <h4>
      Antigens
      <app-count [count]="donor.antigens.length"></app-count>
    </h4>
    <mat-form-field>
      <mat-label>Donor's antigens</mat-label>
      <mat-chip-list #antigensChipList>
        <mat-chip *ngFor="let code of donor.antigens"
                  (removed)="donor.removeAntigen(code)"
                  [title]="'Raw code: ' + code"
                  [removable]="true">
          {{code}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #donorAntigensInput
               [matChipInputFor]="antigensChipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addAntigen(donor, $event.value, donorAntigensInput)"
               matInput
               type="text">
      </mat-chip-list>
      <mat-hint>
        Add new antigens by typing codes followed by
        <span class="key">Space <mat-icon>space_bar</mat-icon></span>
        or
        <span class="key">Enter <mat-icon>keyboard_return</mat-icon></span>
      </mat-hint>
    </mat-form-field>
    <app-form-control-errors [control]="form.get('country')"></app-form-control-errors>

    <!-- Donor -->
    <div formGroupName="donor">
      <h2>Donor</h2>

      <!-- Donor medical ID -->
      <mat-form-field>
        <mat-label>Medical ID</mat-label>
        <input value="{{ donor.medicalId }}" formControlName="medicalId" matInput type="text">
      </mat-form-field>

      <!-- Donor antigens -->
      <h4>
        Antigens
        <app-count [count]="donor.antigens.length"></app-count>
      </h4>
      <mat-form-field>
        <mat-label>Donor's antigens</mat-label>
        <mat-chip-list #antigensChipList>
          <mat-chip *ngFor="let code of donor.antigens"
                    (removed)="donor.removeAntigen(code)"
                    [title]="'Raw code: ' + code"
                    [removable]="true">
            {{code}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input #donorAntigensInput
                 [matChipInputFor]="antigensChipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 (matChipInputTokenEnd)="addAntigen(donor, $event.value, donorAntigensInput)"
                 matInput
                 type="text">
        </mat-chip-list>
        <mat-hint>
          Add new antigens by typing codes followed by
          <span class="key">Space <mat-icon>space_bar</mat-icon></span>
          or
          <span class="key">Enter <mat-icon>keyboard_return</mat-icon></span>
        </mat-hint>
      </mat-form-field>
    </div>

    <app-button type="submit" variant="success"
                [loading]="loading"
                [disabled]="loading"
                [success]="!loading && success">Save changes
    </app-button>
  </form>
</div>
