<app-setting-item *ngIf="patient" label="Antigens">
  <mat-form-field>
    <mat-chip-list #patientAntigensChipList>
      <mat-chip *ngFor="let antigen of patient.antigens"
                (removed)="patient.removeAntigen(antigen)"
                [title]="'Raw code: ' + antigen.raw_code"
                [removable]="true">
        {{antigen.raw_code}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #donorAntigensInput
             [matChipInputFor]="patientAntigensChipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             (matChipInputTokenEnd)="addAntigen($event.value, donorAntigensInput)"
             matInput
             type="text">
    </mat-chip-list>
    <mat-hint>
      Add new antigens by typing codes followed by
      <span class="key">Space&nbsp;<mat-icon>space_bar</mat-icon></span>
      or
      <span class="key">Enter&nbsp;<mat-icon>keyboard_return</mat-icon></span>
    </mat-hint>
  </mat-form-field>
</app-setting-item>
