@import "../../../../styles/variables";

.list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.5s ease;
  padding: 1rem;
  min-height: 5.25rem;
  position: relative;
  filter: drop-shadow(0 $box-shadow-size $box-shadow-color);
  margin: $item-gap;

  &::after, &::before {
    content: '';
    position: absolute;
  }

  &:not(.active) {
    cursor: pointer;

    background-color: $white;
    border-radius: $border-radius--wide;

    &::after {
      top: 0;
      left: 0;
      z-index: 2;
      border-radius: $border-radius--wide;
      overflow: hidden;
      background: $white;
      opacity: 0.5;
      width: 100%;
      height: 100%;
    }

    &:hover {
      &::after {
        opacity: 0;
        height: 0;
      }
    }
  }

  &.active {
    background-color: $white;
    border-radius: $border-radius--wide 0 0 $border-radius--wide;

    margin-right: 0;
    margin-left: 0;
    padding-right: calc(#{$padding-x} + #{$item-gap});
    padding-left: calc(#{$padding-x} + #{$item-gap});

    z-index: 3;

    &.first {
      margin-top: 0;

      &::before {
        display: none;
      }
    }

    &::after, &::before {
      content: "";
      position: absolute;
      background-color: transparent;
      right: 0;

      height: calc(#{$border-radius--wide} * 2);
      width: $border-radius--wide;
      pointer-events: none;
    }

    &::before {
      top: calc(#{$border-radius--wide} * -2);
      border-bottom-right-radius: $border-radius--wide;
      box-shadow: 0 calc(#{$border-radius--wide}) 0 0 #ffffff;
    }

    &::after {
      bottom: calc(#{$border-radius--wide} * -2);
      border-top-right-radius: $border-radius--wide;
      box-shadow: 0 calc(-1 * #{$border-radius--wide}) 0 0 #ffffff;
    }
  }
}
