<header>
  <div class="logo">
    <app-logo routerLink="/"></app-logo>
  </div>
  <div class="icons">
    <div class="txm-event">
      <ng-template [ngIf]="defaultTxmEvent && txmEvents" [ngIfElse]="elseBlock">
        <button #txmEventDropdownTrigger (click)="openDropdown(txmEventDropdownId)">
          <div class="caption">TXM Event</div>
          <div class="name">
            {{defaultTxmEvent.name}}
            <fa-icon [icon]="caretDownIcon"></fa-icon>
          </div>
        </button>
        <app-dropdown (clickedOutside)="closeDropdown($event)"
                      [id]="txmEventDropdownId"
                      [open]="txmEventDropdownId === openedDropdownId"
                      [trigger]="txmEventDropdownTrigger"
                      [float]="'right'">

          <p><strong>TXM Event</strong></p>
          <mat-selection-list [multiple]="false"
                              (selectionChange)="changeDefaultTxmEvent($event)">
            <mat-list-option *ngFor="let txmEvent of txmEvents.events"
                             [value]="txmEvent.id"
                             [selected]="defaultTxmEvent.id == txmEvent.id">
              {{txmEvent.name}}
            </mat-list-option>
          </mat-selection-list>

        </app-dropdown>
      </ng-template>

      <ng-template #elseBlock>
        <button>
          <app-loading-icon></app-loading-icon>
        </button>
      </ng-template>
    </div>
  </div>

  <div class="menu">
    <ul>
      <li>
        <a routerLink="/matchings" routerLinkActive="active">Matchings</a>
      </li>
      <li>
        <a routerLink="/patients" routerLinkActive="active">Patients</a>
      </li>
    </ul>
  </div>

  <div class="download"
       [class.hidden]="downloadStatus === uploadDownloadStatus.hidden"
       [class.disabled]="downloadStatus === uploadDownloadStatus.disabled">
    <button (click)="handleDownloadClick()">
      Generate report
      <mat-icon *ngIf="downloadStatus !== uploadDownloadStatus.loading" [inline]="true">get_app</mat-icon>
      <mat-spinner *ngIf="downloadStatus === uploadDownloadStatus.loading" diameter="16"></mat-spinner>
    </button>
  </div>
  <div class="upload"
       [class.hidden]="uploadStatus === uploadDownloadStatus.hidden"
       [class.disabled]="uploadStatus === uploadDownloadStatus.disabled">
    <button (click)="handleUploadClick()">
      Upload patients
      <mat-icon *ngIf="uploadStatus !== uploadDownloadStatus.loading" [inline]="true">publish</mat-icon>
      <mat-spinner *ngIf="uploadStatus === uploadDownloadStatus.loading" diameter="16"></mat-spinner>
    </button>
  </div>

  <div class="icons">
    <div *ngIf="user" class="user">
      <button #userDropdownTrigger (click)="openDropdown(userDropdownId)">
        <fa-icon [icon]="userIcon"></fa-icon>
      </button>
      <app-dropdown (clickedOutside)="closeDropdown($event)"
                    [id]="userDropdownId"
                    [open]="userDropdownId === openedDropdownId"
                    [trigger]="userDropdownTrigger">
        <p>{{user.email}}</p>
        <app-button (click)="logOut()" size="sm">Log out</app-button>
      </app-dropdown>
    </div>
    <div class="info">
      <button #infoDropdownTrigger (click)="openDropdown(infoDropdownId)">
        <fa-icon [icon]="infoIcon"></fa-icon>
      </button>
      <app-dropdown (clickedOutside)="closeDropdown($event)"
                    [id]="infoDropdownId"
                    [open]="infoDropdownId === openedDropdownId"
                    [trigger]="infoDropdownTrigger">
        <p>Not working? Questions?<br>Call +420 723 927 536.</p>
        <div class="pdf-link">
          <a href="assets/algorithm_description.pdf" target="_blank">Algorithm description</a>
        </div>
      </app-dropdown>
    </div>
  </div>
</header>
