$brand-red: #e2001a;
$brand-red-darker: #a80018;
$brand-white: #ffffff;
$brand-grey: #eee;
$brand-grey-dark: #ddd;
$brand-grey-darker: #666666;

$color-primary: $brand-red;
$text-color: #000000;
$box-bg: #f5f5f5;

$padding-x: 50px;
$border-color: $brand-grey-dark;
$border-radius: 6px;
$box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, .132),
              0 .6px 1.8px 0 rgba(0, 0, 0, .108);

$button-bg: $color-primary;
$button-hover-bg: $brand-red-darker;

$matching-column-width: 40%;

