<div class="configuration__scores configuration__box">

  <div class="list">
    <h4>
      Manual scores for donors and recipients
      <app-count [count]="selectedScores.length"></app-count>
    </h4>

    <div class="hint">Manually set score for particular pair of patients.</div>

    <div class="placeholder" *ngIf="selectedScores.length === 0">
      No manual scores were set yet.
    </div>

    <mat-chip-list *ngIf="selectedScores.length > 0">
      <mat-chip *ngFor="let score of selectedScores"
                (removed)="removeScore(score)">
        <div class="item">
          <patient [patient]="getDonorByDbId(score.donor_db_id)"></patient>
          <mat-icon class="arrow">chevron_right</mat-icon>
          <patient [patient]="getRecipientByDbId(score.recipient_db_id)"></patient>

          <div class="score">score: <strong>{{score.score}}</strong></div>
        </div>

        <mat-icon class="cancel" matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <div class="add">
    <div class="add__heading">Add new manual score</div>
    <div class="add__form">
      <form [formGroup]="form"
            (ngSubmit)="addScore()">

        <!-- Donor -->
        <mat-form-field>
          <mat-label>Donor</mat-label>
          <input formControlName="donor"
                 [matAutocomplete]="donorAuto"
                 matInput
                 type="text">
          <mat-autocomplete #donorAuto="matAutocomplete"
                            [displayWith]="displayFn">
            <mat-option *ngFor="let patient of filteredDonors | async" [value]="patient">
              <patient [patient]="patient"></patient>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-icon>chevron_right</mat-icon>

        <!-- Recipient -->
        <mat-form-field>
          <mat-label>Recipient</mat-label>
          <input formControlName="recipient"
                 [matAutocomplete]="recipientAuto"
                 matInput
                 type="text">
          <mat-autocomplete #recipientAuto="matAutocomplete"
                            [displayWith]="displayFn">
            <mat-option *ngFor="let patient of filteredRecipients | async" [value]="patient">
              <patient [patient]="patient"></patient>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- Score -->
        <mat-form-field>
          <mat-label>Score</mat-label>
          <input matInput
                 formControlName="score"
                 placeholder="Enter score"
                 type="number">
        </mat-form-field>

        <button style="display: none;" type="submit"></button>
      </form>

      <app-button (click)="addScore()" size="sm" variant="success">
        Add
        <mat-icon>add</mat-icon>
      </app-button>
    </div>
  </div>
</div>
