<div *ngIf="data"
     [class.active]="isActive"
     [class.first]="data.index === 1"
     [id]="'matching-' + data.index"
     class="matching-item">

  <h3>Matching #{{data.index}}</h3>

  <ul class="description">
    <li>Score: <strong>{{ data.score }}</strong></li>
    <li>Rounds: <strong>{{ data.rounds.length }}</strong></li>
    <li>Transplants: <strong>{{ getTransplantsCount(data) }}</strong></li>
    <li *ngFor="let country of data.countries">
      <flag [countryCode]="country.country_code"></flag>
      :
      <app-code>{{country.donor_count}}/{{country.recipient_count}}</app-code>
    </li>
  </ul>

  <ng-container *ngIf="isActive">
    <app-matching-round *ngFor="let round of data.rounds; let i = index"
                        [configuration]="configuration"
                        [index]="i + 1"
                        [patients]="patients"
                        [round]="round"></app-matching-round>
  </ng-container>

</div>
