@import "../../../styles/variables";

:host {
  width: 100%;
}

.matching-item {
  margin: 1.25rem;

  h3 {
    margin-top: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      align-items: center;
      font-size: 14px;

      .warning-icon {
        color: $danger;
        font-size: 18px;
        height: 18px;
        width: 18px;
      }
    }

    li + li {
      &::before {
        content: '|';
        margin: 0 5px;
        color: $body-color--secondary;
      }
    }
  }

  flag {
    margin-right: 5px;
  }

  strong, app-code {
    margin-left: 5px;
  }
}

:host.active {
  ul {
    margin-bottom: 20px;
  }
}
