.matching-item {

  transition: background-color 0.5s ease;
  padding: var(--padding);
  position: relative;

  cursor: pointer;

  height: auto;
  min-height: 180px;

  background-color: var(--brand-white);
  border-radius: var(--border-radius--wide);
  box-shadow: var(--box-shadow--wide);

  margin: 20px;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-radius: var(--border-radius--wide);
    overflow: hidden;
  }

  &:hover, &.active {
    &::after {
      opacity: 0;
      height: 0;
    }
  }

  &.active {
    background-color: var(--brand-white);
    border-radius: var(--border-radius--wide) 0 0 var(--border-radius--wide);

    margin: 0;
    padding: var(--padding) calc(var(--padding) + 20px);

    pointer-events: none;
  }

  app-matching-header {
    font-size: 16px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
    display: flex;
    flex-wrap: wrap;

    li {
      display: flex;
      align-items: center;
      font-size: 14px;
    }

    li + li {
      &::before {
        content: '|';
        margin: 0 5px;
        color: var(--text-color-secondary);
      }
    }
  }

  flag {
    margin-right: 5px;
  }

  strong, app-code {
    margin-left: 5px;
  }
}
