@import "../../../styles/variables";

.patient-pair {
  display: flex;
  justify-content: center;
  align-items: center;

  .donor-type-label {
    margin-left: 10px;
    padding: 2px 5px;
    border: 1px solid $gray-300;
    border-radius: 3px;

    font-weight: 600;
    text-transform: uppercase;
    font-size: 10px;
  }

  &.patient-pair-default {
  }

  &.patient-pair-incompatible {
    color: $transplant-color--incompatible;
    .donor-type-label {
      border-color: $gray-300;
    }
  }

  &.patient-pair-compatible {
    color: $transplant-color--compatible;
    .donor-type-label {
      border-color: $transplant-color--compatible;
    }
  }

  .warning-icon {
    color: $danger;
    font-size: 18px;
    height: 18px;
    width: 18px;
    margin-right: 7px;
  }
}

.warning-pill-list {
  margin: 0 1rem;
}
