<div *ngIf="donor" class="patient-pair patient-pair-{{style}}">

  <div *ngIf="warningText" class="warning-pill-list">
    <app-warning-pill [generalWarning]="true" [tooltip]="warningText" warningType="error"></app-warning-pill>
  </div>

  <ng-container *ngIf="recipient; then template_pair; else template_donor"></ng-container>

  <ng-template #template_pair>
    <patient [patient]="donor"></patient>
    <mat-icon>chevron_right</mat-icon>
    <patient [patient]="recipient"></patient>
  </ng-template>

  <ng-template #template_donor>
    <patient [patient]="donor"></patient>
    <div class="donor-type-label">
      {{ donor.donorType | donorTypeLabel}}
    </div>
  </ng-template>

  <div class="donor-type-label"
       matTooltip="Patients are not included in matching calculations"
       *ngIf="!donor.active">
    inactive
  </div>

  <app-incompatibility-pill *ngIf="!isBloodCompatible"></app-incompatibility-pill>

</div>
