@import "../../../../styles/variables";

.patient-setting-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: $item-gap;

  &__label {
    font-weight: 600;
    margin-right: $padding-x;
  }

  &__input {
    flex: 1;
    max-width: 60%;
    display: flex;
    justify-content: flex-end;

    ::ng-deep {
      mat-form-field, form {
        width: 100%;
      }

      .mat-button-toggle-label-content {
        line-height: 30px;
      }
    }
  }
}
