@import "../../../styles/variables";

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.home {

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 0 calc(#{$padding-y} / 2) 0;

    .config {
      button {
        color: $body-color;
        opacity: 0.5;
        transition: opacity 0.5s ease;

        display: flex;
        justify-content: center;

        padding: 5px 10px;
        min-width: 200px;

        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;

        &:hover {
          opacity: 1;
        }

        &.opened {
          opacity: 1;
        }

        fa-icon {
          margin-left: 5px;
        }
      }
    }
  }

  h3 {
    text-align: center;
    padding: $padding-y $padding-x;
  }
}
