<app-header [user]="user"></app-header>

<section class="home">
  <div class="home-header">
    <h1>Matchings</h1>
    <div *ngIf="configuration" class="config">
      <button (click)="toggleConfiguration()" [class.opened]="configOpened">
        <ng-container *ngIf="!configOpened">
          Change settings
          <fa-icon [icon]="configIcon"></fa-icon>
        </ng-container>
        <ng-container *ngIf="configOpened">
          Close settings
          <fa-icon [icon]="closeIcon"></fa-icon>
        </ng-container>
      </button>
    </div>
  </div>

  <div *ngIf="configuration" class="home-config">
    <app-configuration (configSubmitted)="calculate($event)"
                       [configuration]="configuration"
                       [isOpened]="configOpened"></app-configuration>
  </div>


  <div class="home-content">
    content
  </div>

</section>

<app-alert></app-alert>
