:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.home {

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: var(--padding);

    .config {
      button {
        color: var(--text-color-secondary);

        display: flex;
        justify-content: center;

        border: 1px solid var(--text-color-secondary);
        border-radius: var(--border-radius--wide);
        padding: 5px 10px;
        min-width: 200px;

        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 300;

        &.opened {
          color: var(--body-bg);
          background: var(--text-color-secondary);
        }

        fa-icon {
          margin-left: 5px;
          transform: rotate(90deg);
        }
      }
    }
  }

  &-content {
    flex-grow: 1;
    background: var(--brand-white);
    border-radius: var(--border-radius--wide) var(--border-radius--wide) 0 0;
    padding: var(--padding);
  }
}
