<div class="configuration__countries configuration__box">
  <div class="list">
    <h4>
      Forbidden country combinations
      <app-count [count]="selectedCombinations.length"></app-count>
    </h4>

    <div class="hint">Patients from selected countries will not be matched as donors and recipients.</div>

    <div class="placeholder" *ngIf="selectedCombinations.length === 0">
      No countries configuration yet.
    </div>

    <mat-chip-list *ngIf="selectedCombinations.length > 0">
      <mat-chip *ngFor="let combination of selectedCombinations"
                (removed)="removeCombination(combination)">

        <country [country]="combination.donor_country"></country>
        <mat-icon class="arrow">chevron_right</mat-icon>
        <country [country]="combination.recipient_country"></country>

        <mat-icon class="cancel" matChipRemove>cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>

  <div class="add">
    <div class="add__heading">Add new combination</div>
    <div class="add__form">
      <form [formGroup]="form"
            (ngSubmit)="addCombination()">
        <!-- Donor country -->
        <mat-form-field>
          <mat-label>Donor country</mat-label>
          <input formControlName="donorCountry"
                 [matAutocomplete]="donorAuto"
                 matInput
                 type="text">
          <mat-autocomplete #donorAuto="matAutocomplete">
            <mat-option *ngFor="let country of filteredDonorCountries | async" [value]="country">
              <country [country]="country"></country>
            </mat-option>
          </mat-autocomplete>
          <mat-hint>
            Search and select 1 country from {{donorCountries.length}} donor countries.
          </mat-hint>
        </mat-form-field>

        <mat-icon>chevron_right</mat-icon>

        <!-- Recipient country -->
        <mat-form-field>
          <mat-label>Recipient country</mat-label>
          <input formControlName="recipientCountry"
                 [matAutocomplete]="recipientAuto"
                 matInput
                 type="text">
          <mat-autocomplete #recipientAuto="matAutocomplete">
            <mat-option *ngFor="let country of filteredRecipientCountries | async" [value]="country">
              <country [country]="country"></country>
            </mat-option>
          </mat-autocomplete>
          <mat-hint>
            Search and select 1 country from {{recipientCountries.length}} recipient countries.
          </mat-hint>
        </mat-form-field>

        <button style="display: none;" type="submit"></button>
      </form>

      <app-button (click)="addCombination()" size="sm" variant="success">
        Add
        <mat-icon>add</mat-icon>
      </app-button>
    </div>
  </div>
</div>
