@import "../../../styles/variables";

.configuration__countries {

  .configuration__box {
    display: flex;
    flex-wrap: wrap;
  }

  .placeholder {
    font-style: italic;
    width: 100%;
    text-align: center;
    color: $gray-500;
  }

  $field-gap: calc(#{$item-gap} / 2);

  &-item {
    display: flex;
    background: rgba(0, 0, 0, .04);
    padding: 15px $item-gap 5px $padding-x;
    border-radius: 4px 4px 0 0;
    margin: $field-gap;

    form {

      flex: 1;
      display: flex;
      margin: 0 calc(-1 * #{$field-gap});

      .mat-form-field {
        flex: 1;
        padding: 0 $field-gap;
        overflow: hidden;
        display: flex;
        align-items: flex-end;
      }

      ::ng-deep .mat-chip-list-wrapper {
        flex-wrap: nowrap;
      }

      ::ng-deep .mat-form-field-infix {
        width: 120px;
        min-height: 58px;

        input {
          margin-top: 12px;
        }
      }
    }

    button {
      margin-left: $item-gap;
      color: $body-color;
      opacity: 0.2;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
