<div class="configuration__countries">
  <div class="configuration__box-heading">
    <h4>
      Forbidden country combinations
      <app-count>{{selectedCombinations.length}}</app-count>
    </h4>
    <app-button (click)="addCombination()" size="sm" variant="success">
      Add
      <mat-icon>add</mat-icon>
    </app-button>
  </div>

  <div class="configuration__box">
    <div class="placeholder" *ngIf="selectedCombinations.length === 0">
      No countries configuration yet
    </div>
    <div *ngFor="let combination of selectedCombinations"
         class="configuration__countries-item">
      <form>
        <!-- Donor country -->
        <mat-form-field>
          <mat-label>Donor country</mat-label>
          <mat-chip-list #donorChipList>
            <mat-chip (removed)="combination.donor_country = ''"
                      *ngIf="combination.donor_country !== ''"
                      [removable]="true">
              {{ combination.donor_country }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input #donorCountryInput
                   [formControl]="donorFormControl"
                   [matAutocomplete]="donorAuto"
                   [matChipInputFor]="donorChipList"
                   matInput
                   type="text">
          </mat-chip-list>
          <mat-autocomplete #donorAuto="matAutocomplete"
                            (optionSelected)="setDonorCountry(combination, $event.option.value, donorCountryInput)">
            <mat-option *ngFor="let country of filteredDonorCountries | async" [value]="country">
              {{ country }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <!-- Recipient country -->
        <mat-form-field>
          <mat-label>Recipient country</mat-label>
          <mat-chip-list #recipientChipList>
            <mat-chip (removed)="combination.recipient_country = ''"
                      *ngIf="combination.recipient_country !== ''"
                      [removable]="true">
              {{ combination.recipient_country }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input #recipientCountryInput
                   [formControl]="recipientFormControl"
                   [matAutocomplete]="recipientAuto"
                   [matChipInputFor]="recipientChipList"
                   class="no-style"
                   matInput
                   type="text">
          </mat-chip-list>
          <mat-autocomplete #recipientAuto="matAutocomplete"
                            (optionSelected)="setRecipientCountry(combination, $event.option.value, recipientCountryInput)">
            <mat-option *ngFor="let country of filteredRecipientCountries | async" [value]="country">
              {{ country }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>
      <button (click)="removeCombination(combination)">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
</div>

