body {
    line-height: 150%;
    font-family: 'Open Sans', sans-serif;
    background: #465266;
    letter-spacing: 1.2px;
    margin: 50px;
}

.configuration_form {
    background: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
}

.matching_box {
    background: whitesmoke;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 20px 20px 3px;
    width: 800px;
    line-height: 30px;
}

.matching_box_expand {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    display: block;
    padding-top: 20px;
    vertical-align: middle;
    background: silver;
}

.matching_box_expand:hover {
    background: gray;
    color: whitesmoke;
}

.matching_envelope {
    border-spacing: 0px;
    background: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 50px;
    padding: 20px 20px 3px;
}

.chain_link {
    border-radius: 5px;
    margin-left: 10px;
    padding: 8px 10px 5px;
    color: black;
    text-decoration: none;
    text-shadow: 0 0 4px #232222;
    font-weight: bold;
    background: slategray;
    white-space: nowrap;
}

.submit_button {
    background: darkseagreen;
    margin-top: 5px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: white;
    border: 2px solid green;
    font-weight: bold;
}

.transplant-description {
    padding-left: 20px;
    margin-bottom: 20px;
    color: gray;
}

.inline_code {
    border-radius: 3px;
    border: 1px solid plum;
    background: #e6e6e6;
    padding-left: 3px;
    padding-right: 3px;
    color: rebeccapurple;
}

.matching-blood-group {
    border: 1px solid green;
    background: darkseagreen;
}

.matching-antigens {
    border: 1px solid green; !important;
    background: darkseagreen !important;
}

.matching-antibodies {
    border: 1px solid red !important;
    background: #e0a7a7 !important;
}

.inline_code_blue {
    border-radius: 3px;
    border: 1px solid lightskyblue;
    background: aliceblue;
    padding-left: 3px;
    padding-right: 3px;
    color: darkblue;
}

.patient_box {
    background: whitesmoke;
    border-radius: 20px;
    padding: 30px;
    min-width: 38rem;
    height: 100%;
    vertical-align: top;
}

.login-form {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    width: 100%;
    position: relative;
    top: 100px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.title {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 400px;
    color: #fff;
    text-align: center;
}

.login-title {
    font-size: 21px;
    margin-bottom: 30px;
}

.form-field {
    margin: 10px;
    width: 290px !important;
}

.text_box {
    background: whitesmoke;
    border-radius: 10px;
    padding: 20px 20px 3px;
    margin: 50px;
}

.header {
    font-size: 11px;
    position: relative;
    color: #fff;
    padding-bottom: 10px;
    height: 30px
}


.username {
    text-align: right;
    margin-right: 20px;
    float: right;
}

.contact {
    text-align: left;
    margin-right: 20px;
    float: left;
}

.username a a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}

.username a:hover {
    color: #6eb6de;
}


.config-table {
    margin-bottom: 30px;
    border-spacing: 10px;
}

.config-table td {
    text-align: left;
    vertical-align: top;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 30%;
    border-radius: 10px;
    border: 1px dashed gray;
}

.matching_detail {
    border-spacing: 20px;
    margin-bottom: 50px;
}

.matching_detail tr {
    vertical-align: top;
    display: flex;
    margin-bottom: 10px;
}

.matching_detail td {
    margin-right: 20px;
}
