body {
    line-height: 150%;
    font-family: 'Open Sans', sans-serif;
    background: #465266;
    letter-spacing: 1.2px;
    margin: 50px;
}

.configuration_form {
    overflow-y: scroll;
    background: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 50px;
}

.matching_box {
    background: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 3px;
}

.chain_link {
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    text-decoration: none;
    text-shadow: 0 0 2px #232222;
}

.submit_button {
    background: darkseagreen;
    margin-top: 20px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    color: white;
    border: 2px solid green;
    font-weight: bold;
}

.matching_browse_box {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 800px;
}

.transplant-description {
    padding-left: 20px;
    margin-bottom: 20px;
    color: gray;
}

.inline_code {
    border-radius: 3px;
    border: 1px solid plum;
    background: #e6e6e6;
    padding-left: 3px;
    padding-right: 3px;
    color: rebeccapurple;
}

.inline_code_blue {
    border-radius: 3px;
    border: 1px solid lightskyblue;
    background: aliceblue;
    padding-left: 3px;
    padding-right: 3px;
    color: darkblue;
}

.patient_box {
    background: whitesmoke;
    border-radius: 20px;
    padding: 30px;
    margin-left: 30px;
}

.login-form {
    display: flex;
    justify-content: center; /* center horizontally */
    align-items: center; /* center vertically */
    width: 100%;
    position: relative;
    top: 100px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.title {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 400px;
    height: 400px;
    color: #fff;
    text-align: center;
}

.login-title {
    font-size: 21px;
    margin-bottom: 30px;
}

.form-field {
    margin: 10px;
    width: 290px !important;
}

.text_box {
    background: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 3px;
    margin: 50px;
}

.header {
    font-size: 11px;
    position: relative;
    color: #fff;
    padding-bottom: 10px;
    height: 30px
}


.username {
    text-align: right;
    margin-right: 20px;
    float: right;
}

.contact {
    text-align: left;
    margin-right: 20px;
    float: left;
}

.username a a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: white;
}

.username a:hover {
    color: #6eb6de;
}
