{% from 'report_includes/transplant_component.macro.html' import transplant_component %}

<div class="box pb-0">
  <h1 class="mb-0">Selected matching detail</h1>
</div>

{% for matching in matchings.calculated_matchings %}
  <div class="box">
    {% set matching_index = loop.index %}

    <!-- Matching rounds -->
    {% for round in matching.rounds %}
      <div class="matching-round">
        {% set round_index = loop.index %}

        <!-- Matching round transplants -->
        {% for transplant in round.transplants %}
          <div class="matching-transplant">

            <!-- Matching header: Prevent page break between round heading and first transplant -->
            {% if round_index == 1 and loop.index == 1 %}

              {% if matching_index == 2 %}
                <h1>Other significant matchings details</h1>
              {% endif %}

              <div class="matching-header">
                <h2>
                  Matching #{{ matching.order_id }}
                </h2>

                <!-- Matching info -->
                <ul class="matching-info">
                  <li>Score: <strong class="color-primary">{{ matching.score }}</strong></li>
                  <li>Rounds: <strong>{{ matching.rounds|length }}</strong></li>
                  <li>Transplants: <strong>{{ matching.count_of_transplants }}</strong></li>
                  <!-- countries stats -->
                  {% for country in matching.countries %}
                    <li>
                      <div class="flag">
                        <img src="assets/countries/{{ country['country_code'].value }}.png"/>
                      </div>
                      <strong>
                        {{ country['donor_count'] }}/{{ country['recipient_count'] }}
                      </strong>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            <!-- Round header: Prevent page break between round heading and first transplant -->
            {% if loop.index == 1 %}
              <h3>
                <div>Round #{{ round_index }}</div>
                <div class="donor-type-label">{{ round|donor_type_label_from_round_filter(all_donors) }}</div>
              </h3>
            {% endif %}

            {{
              transplant_component(
                transplant.score,
                transplant.max_score,
                transplant.donor|patient_by_medical_id_filter(all_donors),
                transplant.recipient|patient_by_medical_id_filter(all_recipients),
                transplant.compatible_blood,
                transplant.has_crossmatch,
                transplant.detailed_score_per_group,
                configuration
              )
              }}

          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endfor %}

<div class="page-break"></div>
