{% from 'report_includes/macros.html' import antigen_class, antibody_class %}

<div class="box pb-0">
  <h1 class="mb-0">Matchings details</h1>
</div>

{% for matching in matchings %}
  <div class="box">
    {% set matching_index = loop.index %}

    <!-- Matching rounds -->
    {% for round in matching.rounds %}
      <div class="matching-round">
        {% set round_index = loop.index %}

        <!-- Matching round transplants -->
        {% for transplant in round.transplants %}
          <div class="matching-transplant">

            <!-- Matching header: Prevent page break between round heading and first transplant -->
            {% if round_index == 1 and loop.index == 1 %}
              <div class="matching-header">
                <h2>
                  {% if matching_index == 1 %}
                    <span class="color-primary">Selected:</span>
                  {% endif %}
                  Matching #{{ matching.order_id }}
                </h2>

                <!-- Matching info -->
                <ul class="matching-info">
                  <li>Score: <strong class="color-primary">{{ matching.score }}</strong></li>
                  <li>Rounds: <strong>{{ matching.rounds|length }}</strong></li>
                  <li>Transplants: <strong>{{ matching.count_of_transplants }}</strong></li>
                  <!-- countries stats -->
                  {% for country in matching.countries %}
                    <li>
                      <div class="flag">
                        <img src="assets/countries/{{ country['country_code'].value }}.png"/>
                      </div>
                      <strong>
                        {{ country['donor_count'] }}/{{ country['recipient_count'] }}
                      </strong>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}

            <!-- Round header: Prevent page break between round heading and first transplant -->
            {% if loop.index == 1 %}
              <h3>
                <div>Round #{{ round_index }}</div>
                <div class="donor-type-label">{{ round|donor_type_label_from_round_filter(all_donors) }}</div>
              </h3>
            {% endif %}

            <div class="transplant-header">
              <h4>
                <div class="patient-pair-content">
                  <div class="patient">
                    <div class="flag">
                      <img src="assets/countries/{{ (transplant.donor|patient_by_medical_id_filter(all_donors)).parameters.country_code.value }}.png"/>
                    </div>
                    {{ transplant.donor }}
                  </div>
                  <div class="icon-right"> ></div>
                  <div class="patient">
                    <div class="flag">
                      <img src="assets/countries/{{ (transplant.recipient|patient_by_medical_id_filter(all_recipients)).parameters.country_code.value }}.png"/>
                    </div>
                    {{ transplant.recipient }}
                  </div>
                </div>
              </h4>
              <div class="score" style="background: {{ transplant.score|score_color_filter(configuration) }}">
                <div>
                  <span>{{ transplant.score }}</span>
                </div>
              </div>
            </div>

            <div class="transplant-content">
              <table>
                <tbody>
                <tr>
                  <td></td>
                  <td>
                    <div class="center-holder">
                      <div class="patient">
                        <div class="flag">
                          <img src="assets/countries/{{ (transplant.donor|patient_by_medical_id_filter(all_donors)).parameters.country_code.value }}.png"/>
                        </div>
                        {{ transplant.donor }}
                      </div>
                    </div>
                    <div class="patient-info">
                      {% if (transplant.donor|patient_by_medical_id_filter(all_donors)).parameters.sex is not none %}
                        <span>{{ (transplant.donor|patient_by_medical_id_filter(all_donors)).parameters.sex.value }}</span>
                      {% endif %}
                      {% if (transplant.donor|patient_by_medical_id_filter(all_donors)).parameters.year_of_birth is not none %}
                        <span>{{ (transplant.donor|patient_by_medical_id_filter(all_donors)).parameters.year_of_birth }}</span>
                      {% endif %}
                      {% if transplant.donor|patient_by_medical_id_filter(all_donors)|patient_height_and_weight_filter is not none %}
                        <span>{{ transplant.donor|patient_by_medical_id_filter(all_donors)|patient_height_and_weight_filter }}</span>
                      {% endif %}
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="center-holder">
                      <div class="patient">
                        <div class="flag">
                          <img src="assets/countries/{{ (transplant.recipient|patient_by_medical_id_filter(all_recipients)).parameters.country_code.value }}.png"/>
                        </div>
                        {{ transplant.recipient }}
                      </div>
                    </div>
                    <div class="patient-info">
                      {% if (transplant.recipient|patient_by_medical_id_filter(all_recipients)).parameters.sex is not none %}
                        <span>{{ (transplant.recipient|patient_by_medical_id_filter(all_recipients)).parameters.sex.value }}</span>
                      {% endif %}
                      {% if (transplant.recipient|patient_by_medical_id_filter(all_recipients)).parameters.year_of_birth is not none %}
                        <span>{{ (transplant.recipient|patient_by_medical_id_filter(all_recipients)).parameters.year_of_birth }}</span>
                      {% endif %}
                      {% if transplant.recipient|patient_by_medical_id_filter(all_recipients)|patient_height_and_weight_filter is not none %}
                        <span>{{ transplant.recipient|patient_by_medical_id_filter(all_recipients)|patient_height_and_weight_filter }}</span>
                      {% endif %}
                    </div>
                  </td>
                  <td>Score</td>
                </tr>
                <tr>
                  <td>Blood type</td>
                  <td>
                    <div class="code {% if transplant.compatible_blood %}matching{% endif %}">
                      {{ (transplant.donor|patient_by_medical_id_filter(all_donors)).parameters.blood_group }}
                    </div>
                  </td>
                  <td colspan="2">
                    <div class="code {% if transplant.compatible_blood %}matching{% endif %}">
                      {{ (transplant.recipient|patient_by_medical_id_filter(all_recipients)).parameters.blood_group }}
                    </div>
                    <div class="small">
                      Acceptable:
                      {% for code in (transplant.recipient|patient_by_medical_id_filter(all_recipients)).acceptable_blood_groups %}
                        <div class="code">{{ code }}</div>
                      {% endfor %}
                    </div>
                  </td>
                  <td>-</td>
                </tr>
                <tr class="anti-header">
                  <td></td>
                  <td>Antigens</td>
                  <td>Antigens</td>
                  <td>Antibodies</td>
                  <td></td>
                </tr>
                {% for detailed_score_per_group in transplant.detailed_score_per_group %}
                  <tr>
                    <td>{{ detailed_score_per_group.hla_group.value }}</td>
                    <td>
                      {% for match in detailed_score_per_group.donor_matches %}
                        <div class="code {{ antigen_class(match.match_type) }}">{{ match.hla_code }}</div>
                      {% endfor %}
                    </td>
                    <td>
                      {% for match in detailed_score_per_group.recipient_matches %}
                        <div class="code {{ antigen_class(match.match_type) }}">{{ match.hla_code }}</div>
                      {% endfor %}
                    </td>
                    <td>
                      {% for match in detailed_score_per_group.antibody_matches %}
                        <div class="code {{ antibody_class(match.match_type) }}">{{ match.hla_code }}</div>
                      {% endfor %}
                    </td>
                    <td>
                      {% if detailed_score_per_group.hla_group.value != 'Other' %}
                        {{ detailed_score_per_group.group_compatibility_index }}
                      {% else %}
                        -
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endfor %}
