{% from 'report_includes/macros.html' import antigen_class, antibody_class %}

<div class="box">
  <h1 class="mb-0">Matchings summaries</h1>

  {% for matching in matchings.calculated_matchings %}
    <div class="matching-summary {{ 'selected' if loop.index == 1 else '' }}">

      <!-- Matching title -->
      <h3 class="mb-0">
        {% if loop.index == 1 %}
          <span class="color-primary">Selected:</span>
        {% endif %}
        Matching #{{ matching.order_id }}
      </h3>

      <!-- Matching info -->
      <ul class="matching-info">
        <li>Score: <strong class="color-primary">{{ matching.score }}</strong></li>
        <li>Rounds: <strong>{{ matching.rounds|length }}</strong></li>
        <li>Transplants: <strong>{{ matching.count_of_transplants }}</strong></li>
        <!-- countries stats -->
        {% for country in matching.countries %}
          <li>
            <div class="flag">
              <img src="assets/countries/{{ country['country_code'].value }}.png"/>
            </div>
            <strong>
              {{ country['donor_count'] }}/{{ country['recipient_count'] }}
            </strong>
          </li>
        {% endfor %}
      </ul>

      <!-- Table with matching rounds -->
      <table class="matching-summary-table">
        {% for round in matching.rounds %}
          <tr>

            <td>
              <div class="matching-summary-round-title">
                {{ loop.index|round_index_from_order_filter(round, all_donors) }}
              </div>
            </td>

            <td>
              <!-- Transplants tiles-->
              <div>
                {% for transplant in round.transplants %}
                  <!-- Patient pair -->
                  <div
                    class="patient-pair {{ 'compatible' if transplant.compatible_blood else 'non-compatible' }}"
                    style="border-right: 10px solid {{ transplant.score|score_color_filter(configuration) }}">
                    <div class="patient-pair-content">
                      <div class="patient">
                        <div class="flag">
                          <img src="assets/countries/{{ (transplant.donor|patient_by_medical_id_filter(all_donors)).parameters.country_code.value }}.png"/>
                        </div>
                        {{ transplant.donor }}
                      </div>
                      <div class="icon-right"> ></div>
                      <div class="patient">
                        <div class="flag">
                          <img src="assets/countries/{{ (transplant.recipient|patient_by_medical_id_filter(all_recipients)).parameters.country_code.value }}.png"/>
                        </div>
                        {{ transplant.recipient }}
                      </div>
                    </div>
                  </div>
                  {# 3 patient pairs in a row #}
                  {% if loop.index % 3 == 0 %}<br>{% endif %}
                {% endfor %}
              </div>
            </td>

          </tr>
        {% endfor %}
      </table>
    </div>
  {% endfor %}
</div>

<div class="page-break"></div>
