{% from 'report_includes/transplant_component.macro.html' import transplant_component %}

<div class="box pb-0">
  <h1 class="mb-0">All patients</h1>
</div>

  <div class="box">
    {% for donor in patients.donors %}
      <div class="matching-transplant">

        {{
          transplant_component(
            donor.score_with_related_recipient,
            donor.max_score_with_related_recipient,
            donor,
            (all_recipients_by_db_id[donor.related_recipient_db_id] if donor.related_recipient_db_id else None),
            donor.compatible_blood_with_related_recipient,
            False,
            donor.detailed_score_with_related_recipient,
            configuration
          )
          }}

      </div>
    {% endfor %}
  </div>
