<style>

    /* General */
    html, body {
        margin: 0;
        padding: 0;
    }

    body {
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        background: #f8f9fa;
        color: #000;
    }

    h1 {
        margin-top: 0;
    }

    h3 {
        text-transform: uppercase;
        margin-top: 0;
    }

    h4 {
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    strong {
        font-weight: 700;
    }

    /* Header */
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;

        /* wkhtmltopdf */
        display: -webkit-box;
        -webkit-box-pack: justify;
        -webkit-box-align: center;
    }

    .header h1 {
        margin: 0;
        color: {{ color }};
        font-size: 32px;
    }

    /* Logo */
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        /* wkhtmltopdf */
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
    }

    .logo img {
        height: 50px;
    }

    .logo h2 {
        margin: 0 0 0 20px;
        padding-left: 20px;
        color: {{ color }};
        line-height: 1;
        font-size: 18px;
        position: relative;
    }

    .logo h2::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
        background: {{ color }};
    }

    /* Date */
    .date {
        font-weight: 700;
    }

    .date span {
        font-weight: 400;
        font-family: monospace;
        margin-left: 10px;
    }

    /* Box */
    .box {
        padding: 30px;
    }

    .box:nth-child(even) {
        background: #ffffff;
    }

    /* Configuration */
    .configuration {
        display: flex;
        justify-content: space-between;
        -webkit-box-align: center;

        /* wkhtmltopdf */
        display: -webkit-box;
        -webkit-box-pack: justify;
        -webkit-box-align: center;
    }

    .configuration ul li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        /* wkhtmltopdf */
        display: -webkit-box;
        -webkit-box-pack: justify;
        -webkit-box-align: center;
    }

    .configuration ul li:not(:last-child) {
        border-bottom: 1px solid #dddddd;
    }

    .configuration .label {
        margin-right: 40px;
        /* wkhtmltopdf otherwise sometimes wraps in a wrong place */
        white-space: nowrap;
    }

    .configuration .value {
        /* wkhtmltopdf otherwise sometimes wraps in a wrong place */
        white-space: nowrap;
    }

    /* Matching */
    .matching-header {
        padding-top: 30px;
        page-break-inside: avoid !important;
    }

    .matching-info {
        width: 100%;
        display: flex;
        margin-bottom: 10px;

        /* wkhtmltopdf */
        display: -webkit-box;
    }

    .matching-info li:last-child {
        -webkit-box-flex: 1;
    }

    .matching-info li:not(:last-child) {
        padding-right: 5px;
    }

    .matching-info li:not(:last-child)::after {
        content: '|';
        margin: 0 5px 0 10px;
        color: #454545;
    }

    /* Matching round */
    .matching-round {
        margin-bottom: 20px;
    }

    /* Matching transplant */
    .matching-transplant {
        border-top: none;
        border-radius: 40px;
        padding-top: 20px;
    }

    .matching-transplant, .matching-transplant > * {
        page-break-inside: avoid !important;
    }

    .transplant-header {
        background: #eff3f7;
        border: 1px solid #dddddd;
        border-bottom: none;
        padding: 0 10px;
        font-weight: 700;
        font-size: 14px;
        height: 50px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        /* wkhtmltopdf */
        display: -webkit-box;
        -webkit-box-pack: justify;
        -webkit-box-align: center;
    }

    .transplant-header .score span {
        font-size: 18px;
        font-weight: 700;
        color: #e2001a;
    }

    /* Transplant table */

    .small {
        display: inline-block;
        margin-left: 5px;
    }

    .small, .small * {
        font-size: 8px !important;
    }

    .center-holder {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        /* wkhtmltopdf */
        display: -webkit-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 13px;
    }

    tr {
        border-top: 1px solid #dddddd;
    }

    tr:first-child {
        font-weight: 700;
    }

    tr.anti-header td {
        background: #eff3f7;
        font-size: 12px;
        padding: 2px;
    }

    td {
        text-align: center;
        padding: 7px 10px;
        border: 1px solid #dddddd;
        vertical-align: top;

        width: auto;
    }

    td:not([colspan]) {
        width: 21.6666%;
    }

    td:first-child {
        width: 20%;
        text-align: left;
        font-weight: 700;
    }

    td:last-child {
        width: 15%;
        font-weight: 700;
    }

    .footer-score td {
        text-align: right;
    }

    .footer-score td:not(:last-child) {
        border: none !important;
    }

    .footer-score td:last-child {
        background: transparent;
    }

    .footer-score span {
        font-size: 18px;
        font-weight: 700;
        color: #e2001a;
    }

    /* Code */
    .code {
        display: inline-block;
        border-radius: 3px;
        padding: 3px 3px 1px;
        margin: 1px;

        background: #e9ecef;
        color: #6c757d;

        font-weight: 600;
        font-size: 12px;
    }

    .code.matching {
        background: rgba(40, 167, 69, 0.2);
        border-color: #28a745;
        color: #28a745;
    }

    .code.bad-matching {
        background: rgba(220, 53, 69, 0.2);
        border-color: #dc3545 !important;
        color: #dc3545 !important;
    }

    /* Patient */
    .patient {
        display: flex;
        align-items: center;
        font-weight: 700;

        /* wkhtmltopdf */
        display: -webkit-box;
        -webkit-box-align: center;
    }

    .patient .flag {
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid #ddd;

        /* wkhtmltopdf */
        display: -webkit-box;
        -webkit-box-pack: start;
        -webkit-box-align: center;
    }

    .patient img {
        height: 16px;
        width: 16px;
    }

    /* Helper classes */
    .mb-0 {
        margin-bottom: 0 !important;
    }

    .pt-0 {
        padding-top: 0 !important;
    }

    .color-primary {
        color: {{ color }} !important;
    }

</style>
