{% from 'report_includes/macros.html' import antigen_class, antibody_class %}

{% macro transplant_component(
    score,
    donor,
    recipient,
    compatible_blood,
    detailed_score_per_group,
    configuration
  ) %}

  <div class="transplant-content">
    <table>
      <tbody>
      <tr class="transplant-header {{ 'compatible' if compatible_blood else 'non-compatible' }}">
        <td colspan="4">
          <h4>
            <div class="patient-pair-content">
              <div class="patient">
                <div class="flag">
                  <img src="assets/countries/{{ donor.parameters.country_code.value }}.png"/>
                </div>
                {{ donor.medical_id }}
              </div>

              {% if recipient %}
                <div class="icon-right"> ></div>
                <div class="patient">
                  <div class="flag">
                    <img src="assets/countries/{{ recipient.parameters.country_code.value }}.png"/>
                  </div>
                  {{ recipient.medical_id }}
                </div>

              {% else %}
                <div class="donor-type-label">
                  {{ donor.donor_type|donor_type_label_filter }}
                </div>
              {% endif %}

            </div>
          </h4>
        </td>
        <td class="score" style="background: {{ score|score_color_filter(configuration) }}">
          <div>
            <div>
              <span>{{ score if score else "-" }}</span>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="center-holder">
            <div class="patient">
              <div class="flag">
                <img src="assets/countries/{{ donor.parameters.country_code.value }}.png"/>
              </div>
              {{ donor.medical_id }}
            </div>
          </div>
          <div class="patient-info">
            {% if donor.parameters.sex is not none %}
              <span>{{ donor.parameters.sex.value }}</span>
            {% endif %}
            {% if donor.parameters.year_of_birth is not none %}
              <span>{{ donor.parameters.year_of_birth }}</span>
            {% endif %}
            {% if donor|patient_height_and_weight_filter is not none %}
              <span>{{ donor|patient_height_and_weight_filter }}</span>
            {% endif %}
          </div>
        </td>
        <td colspan="2">
          {% if recipient %}
            <div class="center-holder">
              <div class="patient">
                <div class="flag">
                  <img src="assets/countries/{{ recipient.parameters.country_code.value }}.png"/>
                </div>
                {{ recipient.medical_id }}
              </div>
            </div>
            <div class="patient-info">
              {% if recipient.parameters.sex is not none %}
                <span>{{ recipient.parameters.sex.value }}</span>
              {% endif %}
              {% if recipient.parameters.year_of_birth is not none %}
                <span>{{ recipient.parameters.year_of_birth }}</span>
              {% endif %}
              {% if recipient|patient_height_and_weight_filter is not none %}
                <span>{{ recipient|patient_height_and_weight_filter }}</span>
              {% endif %}
            </div>
          {% endif %}
        </td>
        <td>Score</td>
      </tr>
      <tr>
        <td>Blood type</td>
        <td>
          <div class="code {% if compatible_blood %}matching{% endif %}">
            {{ donor.parameters.blood_group }}
          </div>
        </td>
        <td colspan="2">
          {% if recipient %}
            <div class="code {% if compatible_blood %}matching{% endif %}">
              {{ recipient.parameters.blood_group }}
            </div>
            <div class="small">
              Acceptable:
              {% for code in recipient.acceptable_blood_groups %}
                <div class="code">{{ code }}</div>
              {% endfor %}
            </div>
          {% endif %}
        </td>
        <td>-</td>
      </tr>
      <tr class="anti-header">
        <td></td>
        <td>Antigens</td>
        <td>Antigens</td>
        <td class="antibodies-td">Antibodies</td>
        <td></td>
      </tr>
      {% for detailed_score_per_group in detailed_score_per_group %}
        <tr>
          <td>{{ detailed_score_per_group.hla_group.value }}</td>
          <td>
            {% for match in detailed_score_per_group.donor_matches %}
              <div class="code {{ antigen_class(match.match_type) }}">{{ match.hla_type|hla_type_filter }}</div>
            {% endfor %}
          </td>
          <td>
            {% for match in detailed_score_per_group.recipient_matches %}
              <div class="code {{ antigen_class(match.match_type) }}">{{ match.hla_type|hla_type_filter }}</div>
            {% endfor %}
          </td>
          <td>
            {% for match in detailed_score_per_group.antibody_matches %}
              <div class="code {{ antibody_class(match.match_type) }}">{{ match.hla_antibody|hla_type_filter }}</div>
            {% endfor %}
          </td>
          <td>
            {% if detailed_score_per_group.hla_group.value != 'Other' and recipient %}
              {{ detailed_score_per_group.group_compatibility_index }}
            {% else %}
              -
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endmacro %}
