<ng-container *ngIf="donor">
  <ng-container *ngIf="showCountryMedicalIdAndDonorType">
    <!-- Donor Country -->
    <app-country-setting [patient]="donor"></app-country-setting>

    <!-- Donor medical ID -->
    <app-medical-id [patient]="donor"></app-medical-id>

    <!-- Donor Type -->
    <app-setting-item label="Type">
      <mat-button-toggle-group [(ngModel)]="donor.type" [ngModelOptions]="{standalone: true}">
        <mat-button-toggle *ngFor="let type of allDonorTypes"
                           [value]="type">
          {{ type | donorTypeLabel | titlecase }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </app-setting-item>
  </ng-container>

  <!-- Active checkbox -->
  <div *ngIf="showActiveCheckbox" class="active-checkbox">
    <mat-slide-toggle [(ngModel)]="donor.active">
      Active
    </mat-slide-toggle>
  </div>

  <!-- Donor Blood Group -->
  <app-blood-group [patient]="donor"></app-blood-group>

  <!-- Donor antigens -->
  <app-antigens [patient]="donor"></app-antigens>

  <!-- Donor Sex -->
  <app-sex [patient]="donor"></app-sex>

  <!-- Donor height -->
  <app-simple-number #height="ngModel" (input)="formatNumber(height)"
                     label="Height [cm]"
                     [value]="donor.height" [(ngModel)]="donor.height"
                     name="height" ngDefaultControl></app-simple-number>

  <!-- Donor weight -->
  <app-simple-number #weight="ngModel" (input)="formatNumber(weight)"
                     label="Weight [kg]"
                     [value]="donor.weight" [(ngModel)]="donor.weight"
                     name="weight" ngDefaultControl></app-simple-number>

  <!-- Donor year of birth -->
  <app-simple-number #yearOfBirth="ngModel" (input)="formatYearOfBirth(yearOfBirth)"
                     label="Year of birth"
                     [value]="donor.yearOfBirth" [(ngModel)]="donor.yearOfBirth"
                     name="yearOfBirth" ngDefaultControl></app-simple-number>

  <!-- Donor note -->
  <app-setting-item label="Note">
    <mat-form-field>
      <textarea matInput [(ngModel)]="donor.note"></textarea>
    </mat-form-field>
  </app-setting-item>

</ng-container>
