.matching-detail {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - #{$matching-column-width});

  &.fixed {
    position: fixed;
    overflow: scroll;
    height: 100vh;
  }

  @media (max-width: 1200px) {
    position: relative;
    width: 100%;
  }
}