.matching {
  padding: $padding-x;
  background: $box-bg;
  width: $matching-column-width;
  max-width: 900px;

  @media (max-width: 1200px) {
    width: 100%;
    max-width: 100%;

    &-list {
      height: 600px;
      overflow: scroll;
    }
  }

  &-item {
    background: $brand-white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    border: 1px solid $brand-grey;

    display: flex;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &.active, &:hover {

      border: 1px solid $color-primary;

      .matching-item__link {
        background: $color-primary;
        color: $brand-white;
      }
    }

    &.active {
      background: rgba($brand-red, 0.05);
    }

    &__content {
      padding: 20px;
      flex-grow: 1;
      width: 100%;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      background: $brand-grey;

      &:hover {
        background: $brand-grey-dark;
      }
    }
  }

  .description {
    font-size: 14px;
    color: $brand-grey-darker;
    margin-bottom: 20px;
  }
}

.matching {
  //&_envelope {
  //  border-spacing: 0px;
  //  background: whitesmoke;
  //  border-radius: 10px;
  //  margin-bottom: 20px;
  //  display: grid;
  //  grid-template-columns: 1fr 50px;
  //  padding: 20px 20px 3px;
  //}

  &_box {
    //background: whitesmoke;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px 20px 3px;

    .chain_link {
      border-radius: 5px;
      margin-left: 10px;
      padding: 8px 10px 5px;
      color: black;
      text-decoration: none;
      background: slategray;
    }

    &_expand {
      border-bottom-right-radius: 10px;
      border-top-right-radius: 10px;
      text-align: center;
      display: block;
      padding-top: 20px;
      vertical-align: middle;
      background: silver;

      &:hover {
        background: gray;
        color: whitesmoke;
      }
    }
  }

  &-blood-group {
    border: 1px solid green;
    background: darkseagreen;
  }

  &-antigens {
    border: 1px solid green !important;
    background: darkseagreen !important;
  }

  &-antibodies {
    border: 1px solid red !important;
    background: #e0a7a7 !important;
  }
}


.matching_detail {
  border-spacing: 20px;
  margin-bottom: 50px;
}

.matching_detail tr {
  vertical-align: top;
  display: flex;
  margin-bottom: 10px;
}

.matching_detail td {
  margin-right: 20px;
}