.matching {
  padding: $padding-x;
  background: $box-bg;
  width: $matching-column-width;
  max-width: 900px;

  @media (max-width: 1200px) {
    width: 100%;
    max-width: 100%;

    &-list {
      height: 600px;
      overflow: scroll;
    }
  }

  &-item {
    background: $brand-white;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
    border: 1px solid $brand-grey;

    display: flex;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &.active, &:hover {

      border: 1px solid $color-primary;

      .matching-item__link {
        background: $color-primary;
        color: $brand-white;
      }
    }

    &.active {
      background: rgba($brand-red, 0.05);
    }

    &__content {
      padding: 20px;
      flex-grow: 1;
      width: 100%;
    }

    &__link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      background: $brand-grey;

      &:hover {
        background: $brand-grey-dark;
      }
    }
  }

  .description {
    font-size: 14px;
    color: $brand-grey-darker;
    margin-bottom: 20px;
  }
}

.matching {
  &-blood-group {
    border: 1px solid green;
    background: darkseagreen;
  }

  &-antigens {
    border: 1px solid green !important;
    background: darkseagreen !important;
  }

  &-antibodies {
    border: 1px solid red !important;
    background: #e0a7a7 !important;
  }
}