.round {

  border-bottom: 1px solid var(--border-color);
  display: flex;
  padding: 5px 0;

  span {
    font-weight: 700;
    color: var(--brand-grey-darker);
    margin-right: 15px;
    display: inline-block;
  }

  > div {
    flex: 1;
  }

  .chain_link {
    display: inline-block;
    padding: 8px 10px 5px;
    background-color: var(--brand-grey-darker);
    color: var(--brand-white);
    border-radius: var(--border-radius);
    margin: 2px 0;
    transition: all 0.2s ease;

    &.light {
      background-color: var(--brand-grey-dark);
      color: var(--text-color);
    }

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}