.round {

  border-bottom: 1px solid $border-color;
  display: flex;
  padding: 5px 0;

  &:last-child {
    border-bottom: none;
  }

  span {
    font-weight: 700;
    color: $brand-grey-darker;
    margin-right: 15px;
    display: inline-block;

    &.index {
      min-width: 20px;
    }
  }

  > div {
    flex-grow: 1;
  }

  .chain_link {
    display: inline-block;
    padding: 8px 10px 5px;
    background-color: $brand-grey-darker;
    color: $brand-white;
    border-radius: $border-radius 0 0 $border-radius;
    margin: 2px 20px 2px 0;
    transition: all 0.2s ease;
    font-weight: 400;
    position: relative;

    .arrow-right {
      border-left-color: $brand-white;
      margin: 0 10px 2px 10px;
    }

    &.light {
      background-color: $brand-grey-dark;
      color: $text-color;

      .arrow-right {
        border-left-color: $text-color;
      }
    }

    &:not(:last-child) {
      margin-right: 25px;
    }

    .indicator {
      background: linear-gradient(to right, #ff0000, #fff200, #1e9600) no-repeat;
      background-size: 100vw;
      position: absolute;
      left: 100%;
      top: 0;
      height: 100%;
      width: 20px;

      border-radius: 0 $border-radius $border-radius 0;
    }
  }
}