.transplant {

  display: flex;
  flex-direction: column;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &-header {
    background: $box-bg;
    padding: 10px 15px;

    display: flex;

    .pair {
      flex-grow: 1;
      display: flex;
      align-items: center;

      .arrow-right {
        margin: 0 10px;
      }
    }

    .score {
      span {
        font-size: 22px;
        font-weight: 700;
        color: $color-primary;
      }
    }
  }

  &-content {
    flex-grow: 1;
    padding: 30px;
  }
}