.transplant {

  .small {
    font-size: 12px !important;
    display: inline-block;
    margin-left: 10px;
    color: $brand-grey-darker;
  }

  table {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    border-collapse: collapse;
  }

  tr {
    border-top: 1px solid $border-color;

    &:first-child {
      font-weight: 700;
      border-top: none;
    }

    &:last-child {
      border-top: none;
    }

    &.anti-header {
      td {
        background: #f9f9f9;
        font-size: 12px;
        padding: 2px;
      }
    }
  }

  td {

    text-align: center;
    padding: 10px;
    border-right: 1px solid $border-color;
    vertical-align: top;

    &:not([colspan]) {
      width: 21.6666%;
    }

    &:first-child {
      width: 20%;
      text-align: left;
      font-weight: 700;
    }

    &:last-child {
      width: 15%;
      background: #f9f9f9;
      border-right: none;
    }
  }

  .footer-score {

    td {
      text-align: right;
      background: $brand-white !important;

      &:not(:last-child) {
        border: none !important;
      }

      &:last-child {
        border-top: 3px solid $color-primary;
      }
    }

    span {
      font-size: 24px;
      font-weight: 700;
      color: $color-primary;
    }
  }
}