@import "../../../styles/variables";

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-image {
    background-image: var(--logo-background-image);
    background-size: var(--logo-background-size);
    background-repeat: no-repeat;
    width: var(--logo-width);
    height: var(--logo-height);
  }

  h2 {
    margin: 0 0 0 $item-gap;
    padding-left: $item-gap;
    color: var(--primary-color);
    line-height: 1;
    font-size: 22px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 100%;
      background: var(--primary-color);
    }
  }
}
