<html>
<head>
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">
</head>

{% include 'report_includes/styles.html' %}
{% include 'report_includes/header.styles.html' %}
{% include 'report_includes/configuration.styles.html' %}
{% include 'report_includes/matching.styles.html' %}

<body>

{% include 'report_includes/header.html' %}
{% include 'report_includes/configuration.html' %}
{% include 'report_includes/matching_summary.html' %}
{% include 'report_includes/matching.html' %}

</body>
</html>
