@import "../../../styles/variables";

.login {
  padding: $padding-y $padding-x;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $padding-y;

    img {
      width: 80px;
    }

    h2 {
      margin: 0 0 0 $item-gap;
      color: $primary;
      line-height: 1;
    }
  }

  &-content {
    transform: translateY(-60px);
  }

  &-form {
    padding: $padding-y $padding-x;
    width: 380px;
    max-width: 100%;
    border-radius: $border-radius--wide;
    box-shadow: $box-shadow--wide;
    background: $white;

    label {
      display: flex;
      align-items: center;
      margin-bottom: calc(#{$item-gap} / 2);

      &:last-of-type {
        margin-bottom: calc(#{$item-gap} * 2);
      }

      span {
        flex-grow: 1;
        flex-basis: calc(100% / 3);
        width: calc(100% / 3);
      }

      input {
        flex-grow: 2;
        flex-basis: calc(100% / 3 * 2);
        width: calc(100% / 3 * 2);
      }
    }
  }
}
