{% from 'config_form_macro.html' import form_from_configuration %}
{% from 'matching_macro.html' import render_matching %}
{% from 'transplant_macro.html' import render_transplant %}
{% from 'show_user_macro.html' import render_user_info %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kidney Exchange</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style_light.css') }}">
</head>
<body>

{{ render_user_info(current_user) }}
<div style="height: 300px; margin-bottom: 50px;">
    <div style="width: 50%; float: left; height: 300px;">
        {{ form_from_configuration(configuration) }}
    </div>
    <div style="width: 50%; float: left; height: 300px; display: block; overflow-y: scroll; overflow-x: hidden;">
        {{ render_transplant(matchings, scorer, matching_index, round_index, pair_index)}}
    </div>
</div>

<div class="matching_browse_box">
    {% for matching in matchings %}
    {{ render_matching(matching, scorer, ui_utils, loop.index) }}<br>
    {% endfor %}
</div>


</body>
</html>