{% from 'config_form_macro.html' import form_from_configuration %}
{% from 'matching_macro.html' import render_matching %}
{% from 'transplant_macro.html' import render_transplant %}
{% from 'show_user_macro.html' import render_user_info %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kidney Exchange</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style_light.css') }}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style_boxing.css') }}">
</head>
<body>

{{ render_user_info(current_user) }}
<div class="boxing">

    <div class="header-boxing">
        {{ render_transplant(matchings, score_dict, matching_index, round_index, pair_index)}}
    </div>

    <div class="main-boxing">
        <div class="configuration-boxing">
            {{ form_from_configuration(configuration) }}
        </div>

        <div class="matching-boxing">
            {% for matching in matchings %}
            {{ render_matching(matching, score_dict, ui_utils, loop.index) }}
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>
