{% from 'patient_macro.html' import patient_box %}
{% extends "template_base.html" -%}
{% block controls -%}
    <div class="controls_box">
        <form method="GET" action="/browse_exchanges">
            <div class="parameter_input">
                <span class="parameter_description">Maximum exchange length</span>
                <input name="max_number_of_transplants_in_chain" type="text"
                       value="{% if solver_config.max_number_of_transplants_in_chain %}{{ solver_config.max_number_of_transplants_in_chain }}{% endif %}">
            </div>

            <div class="parameter_input">
                <span class="parameter_description">Max number of distinct countries in chain</span>
                <input name="max_countries_in_chain" type="text" value="{% if solver_config.max_countries_in_chain %}{{ solver_config.max_countries_in_chain }}{% endif %}">
            </div>

            <div class="parameter_input">
                <span class="parameter_description">Min compatibility index</span>
                <input name="min_transplant_score" type="text"
                       value="{% if solver_config.min_transplant_score %}{{ solver_config.min_transplant_score }}{% endif %}">
            </div>

            <div class="parameter_input">
                <span class="parameter_description">Allowed countries (CZE, AUT, IL, separate by ';')</span>
                <input name="allowed_countries" type="text"
                       value="{{ ";".join(solver_config.allowed_countries) }}">
            </div>

            <div class="parameter_input">
                <span class="parameter_description">Required patients (separate by ';')</span>
                <input name="required_names" type="text"
                       value="{{ ";".join(solver_config.required_names) }}">
            </div>

            <br>

            <input style="width: 150px" type="submit" value="Calculate exchanges">
        </form>
        <br>
        <b>NOTE</b>: If you do not wish to limit the value of some parameter, leave the field blank.
    </div>
    {% for exchange in exchanges %}
        {% if loop.index == selected_exchange_index|int %}
            <a class="controls_box exchange_box" style="border-top: 10px solid #82e4ff">
        {% else %}
            <a href="/browse_exchanges?selected_exchange_index={{ loop.index }}" class="controls_box exchange_box">
        {% endif %}
    <b>Exchange compatibility index: {{ exchange.get_score(scorer) }}</b>
    {% for chain in exchange.chains %}
        <div class="chain_box">
            Number of transplants: <b>{{ chain.get_number_of_transplants() }}</b><br>
            {% for donor, recipient in chain.pairs %}
                {% set score = (100 * scorer.score_transplant(donor, recipient) / 27 | int) %}
                <span class="chain_link" style="background-color: {{ ui_utils.color_gradient(score) }}"><img
                        src="{{ ui_utils.name_to_flag_path(donor.name) }}">{{ donor }} > {{ recipient }}<img
                        src="{{ ui_utils.name_to_flag_path(recipient.name) }}"></span>
            {% endfor %}
        </div>
    {% endfor %}
    </a>
    {% endfor %}
{% endblock -%}

{% block right_pane -%}
    {% set selected_exchange_index_minus_one = ((selected_exchange_index|int)-1) %}
    {% if exchanges|length > 0 %}
        {% for chain in exchanges[selected_exchange_index_minus_one].chains %}
            {% for donor, recipient in chain.pairs %}
                <div class="transplant_info_box">
                    <b>Transplant compatibility index</b>: {{ scorer.score_transplant(donor, recipient) | int }} =
                    {% for group, group_score in [("A", 1), ("B", 3), ("DR", 9)] %}
                        {% set antigens, count = ui_utils.common_antigens(donor, recipient, group) %}
                        {% if antigens %}
                            {{ group_score }} x {{ count }} (
                            {% for antigen in antigens %}
                                <span class="antibody_antigen_label">{{ antigen }}</span>
                            {% endfor %}) +
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="transplant">
                    {{ patient_box(donor) }}
                    {{ patient_box(recipient) }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
{%- endblock %}