{% macro form_from_configuration(configuration) %}

<form action="configuration" method="post" class="configuration_form">

    <input type="checkbox" value="on" name="enforce_compatible_blood_group"
           {{ "checked" if configuration.enforce_compatible_blood_group }}>
    Require compatible blood group<br>

    <input type="checkbox" value="on" name="require_new_donor_having_better_match_in_compatibility_index"
           {{ "checked" if configuration.require_new_donor_having_better_match_in_compatibility_index }}>
    Require new donor having better CI match<br>

    <input type="checkbox" value="on" name="require_new_donor_having_better_match_in_compatibility_index_or_blood_group"
           {{ "checked" if configuration.require_new_donor_having_better_match_in_compatibility_index_or_blood_group }}>
    Require new donor having better CI match or better blood group<br>

    <input type="checkbox" value="on" name="use_binary_scoring" {{ "checked" if configuration.use_binary_scoring }}>
    Use binary scoring<br>

<!--    TODO tyhle fakticky nefunguji, https://trello.com/c/p2SiTbiJ/131-givessupersetofsolutions -->
    Min total score
    <input type="number" value="{{ configuration.minimum_total_score }}" name="minimum_total_score"><br>

    Max cycle length
    <input type="number" value="{{ configuration.max_cycle_length }}" name="max_cycle_length"><br>

    Max sequence length
    <input type="number" value="{{ configuration.max_sequence_length }}" name="max_sequence_length"><br>

    Max countries in sequence
    <input type="number" value="{{ configuration.max_number_of_distinct_countries_in_round }}" name="max_number_of_distinct_countries_in_round"><br>


    <!--    Custom Donor Recipient Score-->
    <!--    <table id="myTable">-->
    <!--        {% for round in configuration.manual_recipient_donor_scores %}-->
    <!--        <tr>-->
    <!--            <td><input type="text" value="Donor ID"><br></td>-->
    <!--            <td><input type="text" value="Recipient ID"><br></td>-->
    <!--            <td><input type="number" value=0.0><br></td>-->
    <!--        </tr>-->
    <!--        {% endfor %}-->
    <!--    </table>-->
    <!--    <button type="button" onclick="myFunction()">Add another custom donor recipient score</button>-->

    <!--    <script>-->
    <!--        function myFunction() {-->
    <!--            var table = document.getElementById("myTable");-->
    <!--            var row = table.insertRow(0);-->
    <!--            var cell1 = row.insertCell(0);-->
    <!--            var cell2 = row.insertCell(1);-->
    <!--            var cell3 = row.insertCell(2);-->
    <!--            cell1.innerHTML = '<td><input type="text" value="Donor ID"><br></td>';-->
    <!--            cell2.innerHTML = '<td><input type="text" value="Recipient ID"><br></td>';-->
    <!--            cell3.innerHTML = '<td><input type="number" value=0.0><br></td>'-->
    <!--        }-->
    <!--    </script>-->

    <input type="submit" value="Recalculate" class="submit_button">


    <!-- TODO: Add  manual_recipient_donor_scores: List[RecipientDonorScore] = field(default_factory=list) -->
</form>


{% endmacro %}
