{% macro render_hla(patient, code_prefix, matchingAntigens, matchingAntibodies) %}

<table>
    <tr>
        <td>
            {{code_prefix}}:
        </td>
        <td>
            {% for code in patient.parameters.hla_antigens.codes %}
              {% if code.startswith(code_prefix) %}
                {% set matchedAntibodiesClass = "matching-antibodies" if code in matchingAntibodies else "" %}
                {% set matchedAntigensClass = "matching-antigens" if code in matchingAntigens else "" %}
                <span class="inline_code {{ matchedAntigensClass }} {{ matchedAntibodiesClass }}">{{ code }}</span>
              {% endif %}
            {% endfor %}
        </td>
        <td>
            {%if patient.is_recipient %}
            <div style="width: 50%; float: left">
                {% for code in patient.parameters.hla_antibodies.codes %}
                  {% if code.startswith(code_prefix) %}
                    {% set matchedAntibodiesClass = "matching-antibodies" if code in matchingAntibodies else "" %}
                    {% set matchedAntigensClass = "matching-antigens" if code in matchingAntigens else "" %}
                    <span class="inline_code_blue {{ matchedAntigensClass }} {{ matchedAntibodiesClass }}">{{ code }}</span>
                  {% endif %}
                {% endfor %}
            </div>
            {% endif %}
        </td>
    </tr>
</table>

{% endmacro %}
