{% extends "template_main.html" -%}
{% block main_content -%}
<div class="load_patients_container">
    <div class="row">
        <div class="col">
            <h1>Upload</h1>
            <hr>
            <form action="load-patients" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Choose xlsx file</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="patient_data" id="patient_data">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Upload patient_data</button>
            </form>
            {% with messages = get_flashed_messages() %}
	            {% if messages %}
		            <ul class=flashes>
		            {% for message in messages %}
		                <li>{{ message }}</li>
		            {% endfor %}
		            </ul>
	            {% endif %}
	        {% endwith %}
        </div>
    </div>
</div>
{%- endblock %}
