{% extends "template_base.html" -%}
{% block controls -%}
    <form action="/load_patients_from_file" method="post" enctype="multipart/form-data" style="margin-bottom: 10px">
        <input type="file" name="file">
        <input type="submit" value="upload file">
    </form>

    {% if data_load_status == "SUCCESS" %}
        <div class="controls_box confirm_message">
            Data of <b>{{ patients_loaded_count }} patients</b> were successfully loaded in database.
    </div>
    {% elif data_load_status == "FAILURE" %}
        <div class="controls_box alert_message">Loading data failed with the following error <br>
        {{ exception_text }}
    </div>
    {% endif %}
{%- endblock %}