{% from 'round_macro.html' import render_round %}

{% macro render_matching(matching, score_dict, ui_utils, matching_index) %}

<div class="matching_box">
    <div class="transplant-description">
        Matching index: <span class="inline_code">{{ matching_index }}</span> |
        Score: <span class="inline_code">{{ matching.score() }}</span> |
        Rounds: <span class="inline_code">{{ matching.get_rounds() | length }}</span> |
        Transplants: <span class="inline_code">{{matching.donor_recipient_list | length}}</span>
    </div>
    {% for round in matching.get_rounds() %}
    {{ render_round(round, score_dict, ui_utils, loop.index, matching_index) }}
    <br>
    {% endfor %}
</div>

{% endmacro %}
