{% from 'round_macro.html' import render_round %}

{% macro render_matching(matching, score_dict, ui_utils, matching_index, selected_matching_index) %}
<div class="matching_envelope">
    <div class="matching_box">
        <div class="transplant-description">
            Score: <span class="inline_code">{{ matching.score() }}</span> |
            Rounds: <span class="inline_code">{{ matching.get_rounds() | length }}</span> |
            Transplants: <span class="inline_code">{{matching.donor_recipient_list | length}}</span>
        Bridging donors: <span class="inline_code">{{matching.get_bridging_donor_count()}}</span>
        Altruists: <span class="inline_code">{{matching.get_altruist_count()}}</span></div>
        {% for round in matching.get_rounds() %}
        {{ render_round(round, score_dict, ui_utils, loop.index, matching_index) }}
        <br>
        {% endfor %}
    </div>

    {% if matching_index == selected_matching_index %}
    <a href="?matching_index={{matching_index}}" class="matching_box_expand"
       style="background-color: darkseagreen">▶</a>
    {% else %}
    <a href="?matching_index={{matching_index}}" class="matching_box_expand">▶</a>
    {% endif %}
</div>

{% endmacro %}
