{% from 'round_macro.html' import render_round %}
{% from 'donor_recipient_country_count_macro.html' import donor_recipient_country_count_macro %}

{% macro render_matching(matching, score_dict, configuration, matching_index, selected_matching_index, compatible_blood_dict) %}
<a href="?matching_index={{matching_index}}"
   class="matching-item {% if matching_index == selected_matching_index %}active{% endif %}">
    <div class="matching-item__content">
        <div class="description">
            Score: <span class="inline_code">{{ matching.score() }}</span> |
            Rounds: <span class="inline_code">{{ matching.get_rounds() | length }}</span> |
            Transplants: <span class="inline_code">{{matching.donor_recipient_list | length}}</span> |
            {{donor_recipient_country_count_macro(matching, "CZE")}} |
            {{donor_recipient_country_count_macro(matching, "AUT")}} |
            {{donor_recipient_country_count_macro(matching, "IL")}}
        </div>

        {% for round in matching.get_rounds() %}
            {{ render_round(round, score_dict, configuration, loop.index, matching_index, compatible_blood_dict) }}
        {% endfor %}
    </div>

    <span class="matching-item__link">
        <div class="arrow-right"></div>
    </span>
</a>

{% endmacro %}
