{% from 'hla_macro.html' import render_hla %}

{% macro render_patient(patient, score, scoreA, scoreB, scoreDR, scoreBlood, matchingBloodGroup, matchingAntigens, matchingAntibodies) %}

<div class="patient_box">
    <h1>{{ patient.medical_id }} | score: {{ score }}</h1>

    Blood Group:
    {% set bloodClass = "matching-blood-group" if matchingBloodGroup == patient.parameters.blood_group else "" %}
    <span class="inline_code {{ bloodClass }}">{{ patient.parameters.blood_group }} | score: {{ scoreBlood }}</span>
    {% if patient.is_recipient %} |
    Acceptable:
    {% for blood_group in patient.parameters.acceptable_blood_groups%}
    {% set acceptableBloodClass = "matching-blood-group" if matchingBloodGroup == blood_group else "" %}
    <span class="inline_code {{ acceptableBloodClass }}">{{ blood_group }}</span>
    {% endfor %}
    {% endif %}


    <hr>

    {{ render_hla(patient, "A", matchingAntigens, matchingAntibodies, scoreA) }}
    <hr>
    {{ render_hla(patient, "B", matchingAntigens, matchingAntibodies, scoreB) }}
    <hr>
    {{ render_hla(patient, "DR", matchingAntigens, matchingAntibodies, scoreDR) }}

</div>

{% endmacro %}
