{% macro render_round(round, score_dict, configuration, round_index, matching_index, compatible_blood_dict) %}

<div class="round">
    <span class="index">{{ round_index }}{{ round.briding_donor_altruist_or_nothing()}}</span>
    <div>
    {% for donor, recipient in round.donor_recipient_list %}
        {% set transplant_score = (score_dict[(donor.db_id, recipient.db_id)] | int) %}
        {% set score = 100 * transplant_score / configuration.maximum_total_score %} <!-- Score is percentage of maximum score -->
        {% set should_be_background_dark_grey = compatible_blood_dict[(donor.db_id, recipient.db_id)] %}
        {% set linkClass = 'chain_link' %}
        {% if should_be_background_dark_grey %}
            {% set linkClass = linkClass + ' light' %}
        {% endif %}
        <div class="{{ linkClass }}">
            <img src="static/img/countries/{{donor.parameters.country_code}}.png" style="margin-right: 5px" class="flag">
            {{ donor.medical_id }}<span class="arrow-right"></span>{{ recipient.medical_id }}
            <img src="static/img/countries/{{recipient.parameters.country_code}}.png" style="margin-left: 5px" class="flag">

            {% if not configuration.use_binary_scoring %}
                <div class="indicator" style="{{ 'background-position: ' ~ score ~ '%'}}"></div>
            {% endif %}
        </div>
    {% endfor %}
    </div>
</div>

{% endmacro %}
