{% macro render_round(round, score_dict, ui_utils, round_index, matching_index) %}

<div class="round_box">
    {{ round_index }}{{ round.briding_donor_altruist_or_nothing()}}
    {% for donor, recipient in round.donor_recipient_list %}
    {% set transplant_score = (score_dict[(donor.db_id, recipient.db_id)] | int) %}
    {% set score = (100 * transplant_score / 46 | int) %}
    <a class="chain_link" style="border-right: 20px solid {{ ui_utils.color_gradient(score) }}"
       href="?matching_index={{matching_index}}&round_index={{round_index}}&pair_index={{loop.index}}">
        <img src="static/img/countries/{{donor.parameters.country_code}}.png" style="margin-right: 5px">
        {{ donor.medical_id }} &rArr; {{ recipient.medical_id }}
        <img src="static/img/countries/{{recipient.parameters.country_code}}.png" style="margin-left: 5px">
    </a>
    {% endfor %}
</div>

{% endmacro %}
