<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transplant Matching</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_exchange.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_patient.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_scoring.css') }}">
</head>
<body>

<div class="envelope">

    <div class="column_left no_print">
        <div class="menu">
            <a href="/load_patients_from_file">load data</a>
            <a href="/browse_donors">donors</a>
            <a href="/browse_recipients">recipients</a>
            <a href="/scoring">scoring</a>
            <a href="/browse_exchanges">exchanges</a>
        </div>

        <div class="controls">
            {% block controls %}
            {% endblock %}
        </div>
    </div>
    <div class="column_right">
        {% block right_pane %}
        {% endblock %}
    </div>
</div>

</body>
</html>
