{% from 'patient_macro.html' import render_patient %}
{% from 'render_score_macro.html' import render_score %}

{% macro render_transplant(matchings, score_dict, matching_index, round_index, pair_index) %}
{% if matchings | length > 0 %}
{% set donor, recipient = matchings[matching_index-1].get_rounds()[round_index-1].donor_recipient_list[pair_index-1] %}
{% set score = score_dict[(donor.db_id, recipient.db_id)] %}
{% set matchingBloodGroup = donor.parameters.blood_group if donor.parameters.blood_group in recipient.parameters.acceptable_blood_groups else None %}
{% set matchingAntibodies = donor.parameters.hla_antigens.codes | intersect(recipient.parameters.hla_antibodies.codes) %}
{% set matchingAntigens = donor.parameters.hla_antigens.codes | intersect(recipient.parameters.hla_antigens.codes) %}
{% set scoreA = (matchingAntigens | filtered_count_by_prefix("A")) * 1 %}
{% set scoreB = (matchingAntigens | filtered_count_by_prefix("B")) * 3 %}
{% set scoreDR = (matchingAntigens | filtered_count_by_prefix("DR")) * 9 %}

<div class="patient-detail">
    {{ render_patient(donor, matchingBloodGroup, matchingAntigens, matchingAntibodies) }}
</div>
<div class="patient-detail">
    <div class="patient_box">
        <h1>Score: {{ score }}</h1>
        <hr>
        <b>Blood:</b>
        {% for group in matchingBloodGroup %}
            <span class="inline_code matching-blood-group">{{ group }}</span>
        {% endfor %}
        <hr>
        {{render_score("A", matchingAntigens, scoreA)}}
        <hr>
        {{render_score("B", matchingAntigens, scoreB)}}
        <hr>
        {{render_score("DR", matchingAntigens, scoreDR)}}
        <hr>
        {{scoreA}} + {{scoreB}} + {{scoreDR}} = {{score}}
    </div>

</div>
<div class="patient-detail">
    {{ render_patient(recipient, matchingBloodGroup, matchingAntigens, matchingAntibodies) }}
</div>
{% else %}
<div class="text_box">
    <h3>No matchings found. Please, relax some of the constraints and click Recalculate to find suitable matchings.
        Allow up to several minutes for the algorithm to finish.</h3>
</div>
{% endif %}
{% endmacro %}

