@import "../../../styles/variables";

:host {
  position: relative;
}

.count {
  background: $success;
  border-radius: $border-radius;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  top: -1.2em;
  margin: 5px 5px 5px auto;
  left: 100%;
  font-weight: 700;
  font-size: 12px;
  padding: 1px 6px 1px 5px;
  align-items: center;

  &.zero {
    background: $gray-400;
    color: $gray-600;
  }
}
