a:not(.no-style) {
  font-weight: 700;
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
  text-decoration: none;
  transition: all .2s ease;

  &:hover, &:active, &:focus {
    color: var(--color-primary);
    border-bottom-color: transparent;
  }
}