form {
  input, textarea {
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 10px 15px;
  }

  input[type="submit"] {
    background-color: var(--button-bg);
    border: none;
    box-shadow: none;
    border-radius: var(--border-radius);
    color: var(--brand-white);
    padding: 10px;
    font-size: inherit;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background-color: var(--button-hover-bg);
    }
  }
}