form {
  input, textarea {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 10px 15px;
    overflow: hidden;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgba($color-primary, 0.5);
      border: 1px solid $color-primary;
    }
  }

  input[type="submit"] {
    background-color: $button-bg;
    border: none;
    box-shadow: none;
    border-radius: $border-radius;
    color: $brand-white;
    padding: 10px;
    font-size: inherit;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background-color: $button-hover-bg;
    }
  }
}

button, input[type="submit"] {
  &:focus {
    outline: none;
  }
}