form {
  input, textarea {
    border: 1px solid $border-color;
    border-radius: $border-radius;
    padding: 10px 15px;
  }

  input[type="submit"] {
    background-color: $button-bg;
    border: none;
    box-shadow: none;
    border-radius: $border-radius;
    color: $brand-white;
    padding: 10px;
    font-size: inherit;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background-color: $button-hover-bg;
    }
  }
}