header {
  display: flex;
  height: 70px;
  padding: 10px var(--padding-x);
  
  @media (max-width: 540px) {
    height: auto;
    flex-direction: column;
  }

  .logo {
    width: 80px;
    height: 100%;

    img {
      height: 100%;
    }

    @media (max-width: 540px) {
      width: 100%;
      height: 50px;
      margin-bottom: 10px;
      display: flex;

      a {
        width: 100%;
        text-align: center;
      }
    }
  }

  .info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 14px;
    line-height: 1.75;

    a {
      font-weight: 700;
      color: var(--text-color);
      border-bottom: 1px solid var(--text-color);
      text-decoration: none;
      transition: all .2s ease;

      &:hover, &:active, &:focus {
        color: var(--color-primary);
        border-bottom-color: transparent;
      }
    }

    .contact {
      color: var(--brand-grey-darker);
    }

    @media (max-width: 540px) {
      align-items: center;
      text-align: center;
    }
  }
}