@import "../../../styles/definitions/colors";

.code {
  display: inline-block;
  border-radius: 3px;
  padding: 0 3px;
  margin: 2px;
  border: 1px solid $code-border-color--basic;

  background: $code-bg--basic;
  color: $code-color--basic;

  font-weight: 600;
}

:host {
  &.matching > .code {
    background: $code-bg--matching;
    border-color: $code-border-color--matching;
    color: $code-color--matching;
  }

  &.bad-matching > .code {
    background: $code-bg--bad-matching;
    border-color: $code-border-color--bad-matching;
    color: $code-color--bad-matching;
  }

  &.bad-matching.theoretical-antibody > .code {
    background: $code-bg--bad-matching-theoretical;
    border-color: $code-border-color--bad-matching-theoretical;
    color: $code-color--bad-matching-theoretical;
  }

  &.theoretical-antibody > .code {
    background: $code-bg--theoretical;
    border-color: $code-border-color--theoretical;
    color: $code-color--theoretical;
  }
}
