@import "../../../styles/variables";

.content {
  flex-grow: 1;
  background: $white;
  border-radius: $border-radius--wide $border-radius--wide 0 0;
  overflow: hidden;
  box-shadow: $box-shadow--wide;

  display: flex;
  flex-direction: column;

}

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
