<div *ngIf="item" class="detail-donor">

  <div class="detail__header">
    <patient [patient]="item"></patient>

    <app-button (click)="handleSave()"
                [loading]="loading"
                [disabled]="loading"
                [success]="!loading && success"
                [variant]="'success'">Save changes
    </app-button>
  </div>

  <form (ngSubmit)="handleSave()">
    <h4>
      Antigens
      <app-count [count]="selectedCodes.length"></app-count>
    </h4>
    <mat-form-field>
      <mat-label>Recipient's antigens</mat-label>
      <mat-chip-list #antigensChipList>
        <mat-chip *ngFor="let code of selectedCodes"
                  (removed)="remove(code)"
                  [removable]="true">
          {{code}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #antigensInput
               [formControl]="inputControl"
               [matAutocomplete]="auto"
               [matChipInputFor]="antigensChipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addNewAntigen($event.value, antigensInput)"
               matInput
               placeholder="Search by antigen code"
               type="text">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addNewAntigen($event.option.value, antigensInput)">
        <mat-option *ngFor="let code of filteredCodes | async" [value]="code">
          {{code}}
        </mat-option>
      </mat-autocomplete>
      <mat-hint>
        Search and select multiple antigens from {{availableCodes.length}} available antigens.
      </mat-hint>
    </mat-form-field>

    <app-button [type]="'submit'"
                [loading]="loading"
                [disabled]="loading"
                [success]="!loading && success"
                [variant]="'success'">Save changes
    </app-button>
  </form>
</div>
