<div class="item-list">
  <div class="list">
    <div #list
         infinite-scroll
         class="list-inner"
         (scrolled)="onScrollDown()"
         [scrollWindow]="false">
      <app-item *ngFor="let item of displayedItems; trackBy: trackListItem; let i = index;"
                [listItemComponent]="listItemComponent"
                [isActive]="item === activeItem"
                [index]="i"
                [item]="item"
                [patients]="patients"
                [configuration]="configuration"
                (click)="setActive(item)"></app-item>
    </div>
  </div>
  <div class="detail">
    <div [class.aligned-bottom]="activeAlignedBottom"
         [class.aligned-top]="activeAlignedTop"
         [class]="scrollableDetailClass"
         #detail
         cdk-scrollable>
      <ng-template listItemDetail></ng-template>
    </div>
  </div>
</div>
