<div *ngIf="item" class="detail-recipient">

  <div class="detail__header">
    <patient [patient]="item"></patient>

    <app-button (click)="handleSave()"
                [loading]="loading"
                [disabled]="loading"
                [success]="!loading && success"
                [variant]="'success'">Save changes
    </app-button>
  </div>

  <form [formGroup]="form">

    <!-- Checkboxes -->
    <h4>Conditions for new donor</h4>
    <div class="checkboxes">
      <mat-slide-toggle *ngIf="item.recipient_requirements.require_compatible_blood_group !== undefined"
                        (change)="setCheckBoxValue('require_compatible_blood_group', $event.checked)"
                        [checked]="item.recipient_requirements.require_compatible_blood_group">
        Require compatible blood group
      </mat-slide-toggle>
      <mat-slide-toggle *ngIf="item.recipient_requirements.require_better_match_in_compatibility_index !== undefined"
                        (change)="setCheckBoxValue('require_better_match_in_compatibility_index', $event.checked)"
                        [checked]="item.recipient_requirements.require_better_match_in_compatibility_index">
        Require new donor having better CI match than original donor
      </mat-slide-toggle>
      <mat-slide-toggle *ngIf="item.recipient_requirements.require_better_match_in_compatibility_index_or_blood_group !== undefined"
                        (change)="setCheckBoxValue('require_better_match_in_compatibility_index_or_blood_group', $event.checked)"
                        [checked]="item.recipient_requirements.require_better_match_in_compatibility_index_or_blood_group">
        Require new donor having better CI match than original donor or blood group match
      </mat-slide-toggle>
    </div>

    <!-- Antigens -->
    <h4>
      Antigens
      <app-count [count]="selectedAntigens.length"></app-count>
    </h4>
    <mat-form-field>
      <mat-label>Recipient's antigens</mat-label>
      <mat-chip-list #antigensChipList>
        <mat-chip *ngFor="let a of selectedAntigens"
                  (removed)="removeAntigen(a)"
                  [removable]="true">
          {{a.raw_code}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input #antigensInput
               formControlName="antigens"
               [matAutocomplete]="auto"
               [matChipInputFor]="antigensChipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               (matChipInputTokenEnd)="addNewAntigen($event.value, antigensInput)"
               matInput
               placeholder="Search by antigen code"
               type="text">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addAntigen($event.option.value, antigensInput)">
        <mat-option *ngFor="let a of filteredAntigensCodes | async" [value]="a">
          {{a.raw_code}}
        </mat-option>
      </mat-autocomplete>
      <mat-hint>
        Search and select multiple antigens from {{availableAntigens.length}} available antigens.
      </mat-hint>
    </mat-form-field>
  </form>

  <!-- Antibodies -->
  <app-antibodies [recipient]="item" [patients]="patients"></app-antibodies>

  <app-button (click)="handleSave()"
              [loading]="loading"
              [disabled]="loading"
              [success]="!loading && success"
              [variant]="'success'">Save changes
  </app-button>

</div>
