@import "../../../styles/variables";

.detail-recipient {
  padding: $padding-y calc(#{$padding-x} * 2);

  h4 {
    color: $body-color;
    margin: 0;
  }

  form, mat-form-field {
    width: 100%;
    margin: $padding-y 0;
  }

  .detail__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $box-shadow--wide-size;

    ::ng-deep .patient {
      font-size: 32px;
    }
  }

  .box, ::ng-deep .box {
    border-radius: $border-radius--wide;
    background: $white;
    box-shadow: $box-shadow--wide;
    padding: $padding-y $padding-x;
    margin-bottom: $box-shadow--wide-size;
    overflow: hidden;
  }

  .checkboxes {
    margin: $item-gap 0 $padding-y;
  }

  .placeholder {
    font-style: italic;
    width: 100%;
    text-align: center;
    color: $gray-500;
  }
}
