name: Staging Deployment

env:
  DOCKER_FILE: Dockerfile
  AWS_ECR_REPOSITORY: stg-txm
  AWS_EC2_HOST: 63.35.210.79
  AWS_EC2_USER: centos
  PROJECT_DEPLOYMENT_FOLDER: txmatching

on:
  # manual dispatch
  workflow_dispatch:
  push:
    branches:
      - aws_releases

jobs:
  build_server:
    runs-on: ubuntu-20.04
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v2

        # set release version to the latest commit
      - name: Set Release Version
        run: echo "RELEASE_VERSION=${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-west-1

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      # extract metadata for labels https://github.com/crazy-max/ghaction-docker-meta
      - name: Docker meta
        id: docker_meta
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: ${{ steps.login-ecr.outputs.registry }}/${{ env.AWS_ECR_REPOSITORY }}

        # setup docker actions https://github.com/docker/build-push-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and Push Docker Image
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          file: ${{ env.DOCKER_FILE }}
          # TODO we might change that on the branch name
          # tags: ${{ steps.docker_meta.outputs.tags }}
          tags: ${{ steps.login-ecr.outputs.registry }}/${{ env.AWS_ECR_REPOSITORY }}:latest
          labels: ${{ steps.docker_meta.outputs.labels }}
          push: true
          build-args: |
            release_version=${{ env.RELEASE_VERSION }}

#      - name: Install SSH key
#        uses: shimataro/ssh-key-action@v2
#        if: ${{ startsWith(github.ref, 'refs/heads/master') }}
#        with:
#          key: ${{ secrets.SSH_KEY_STAGING }}
#          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS_STAGING }}
#
#      - name: Redeploy application
#        if: ${{ startsWith(github.ref, 'refs/heads/master') }}
#        run: |
#          ssh "${AWS_EC2_USER}@${AWS_EC2_HOST}" "cd /srv/${PROJECT_DEPLOYMENT_FOLDER} && ./redeploy.sh"