<app-header [user]="user"
            [uploadStatus]="uploadStatus"
            (uploadAction)="uploadPatients()"
            [downloadStatus]="downloadStatus"
            [txmEvents]="txmEvents"
            [defaultTxmEvent]="defaultTxmEvent"
            (defaultTxmEventSelected)="setDefaultTxmEvent($event)"
            [loading]="loading"></app-header>

<section class="patients">
  <app-container>
    <div class="patients__header">
      <h1>
        Patients
        <app-count [count]="donorsCount + recipientCount"
                   title="Donors: {{donorsCount}}, Recipients: {{recipientCount}}">
        </app-count>
      </h1>
      <app-button (click)="togglePatientPopup()" variant="success" size="sm">
        add new
        <mat-icon>add</mat-icon>
      </app-button>
    </div>
  </app-container>

  <app-template-popup [isOpened]="patientPopupOpened"
                      [title]="'Add new patient pair'"
                      (wasClosed)="togglePatientPopup()">
    <app-add-new-patient [defaultTxmEvent]="defaultTxmEvent" (addPatientsClicked)="addPatientPair($event)"></app-add-new-patient>
  </app-template-popup>

  <app-content>
    <h3 *ngIf="!loading && !items.length">No patients were found.</h3>
    <app-item-list *ngIf="!loading && items.length"
                   [items]="items"
                   [configuration]="appConfiguration"
                   [patients]="patients"
                   [saveLastViewedItem]="true"
                   [useInfiniteScroll]="false"
                   [defaultTxmEvent]="defaultTxmEvent"></app-item-list>
  </app-content>
</section>

<app-alert></app-alert>
<app-loading [show]="loading"></app-loading>
