<app-header [user]="user"
            [uploadStatus]="uploadStatus"
            (uploadAction)="uploadPatients()"
            [downloadStatus]="downloadStatus"></app-header>

<section class="patients">
  <app-container>
    <div class="patients__header">
      <h1>
        Patients
        <app-count [count]="patientsCount"></app-count>
      </h1>
    </div>
  </app-container>

  <app-content>
    <h3 *ngIf="!loading && !pairs.length">No patients were found.</h3>
    <app-item-list *ngIf="!loading && pairs.length"
                   [items]="getItems()"
                   [configuration]="configuration"
                   [patients]="patients"
                   [saveLastViewedItem]="true"
                   [useInfiniteScroll]="false"></app-item-list>
  </app-content>
</section>

<app-alert></app-alert>
<app-loading [show]="loading"></app-loading>
