@import "../../../styles/variables";

.patients {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: calc(#{$padding-y} / 2) 0 0;

    h1 {
      margin-bottom: 0;
    }

    .header-description {
      font-size: 14px;
      color: $gray-600;
      position: absolute;
    }
  }

  ::ng-deep .list-item {
    .list {
      width: 30% !important;
    }

    .detail {
      width: 70% !important;
    }
  }

  &-count-space {
    display: flex;
    width: 2%;
    position: relative;
    top: -1.2em;
    margin-left: 102%;
  }

  h3 {
    text-align: center;
    padding: $padding-y $padding-x;
  }
}

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
