.patients {
  ::ng-deep .list-item {
    .list {
      width: 30% !important;
    }

    .detail {
      width: 70% !important;
    }
  }
}

:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
