<section class="patients">
  <app-container>
    <div class="patients__header">
      <h1>
        Patients
        <app-count [count]="patientsCount"></app-count>
      </h1>
      <app-tab-switch *ngIf="!loading"
                      [tabs]="tabs"
                      [activeTab]="activeListFilter ? activeListFilter.type : ''"
                      (tabClicked)="setActiveFilter($event)"></app-tab-switch>
    </div>
  </app-container>

  <app-content>
    <ng-container *ngIf="activeListFilter && !loading">
      <app-item-list [listItemDetailComponent]="activeListFilter.detailComponent"
                     [listItemComponent]="activeListFilter.itemComponent"
                     [items]="getFilteredItems()"
                     [configuration]="undefined"
                     [patients]="patients"></app-item-list>
    </ng-container>

  </app-content>
</section>

<app-loading [show]="loading"></app-loading>
