@import "../../../styles/variables/colors";

.matching-header {
  display: flex;
  justify-content: space-between;

  h2 {
    margin-top: 0;
  }

  .score {
    color: #ffffff;
    background: $primary;
    border-radius: var(--border-radius--wide);
    padding: 5px 10px;
  }
}
